<h1><%= title_for(RubyCoreLesson, 1, 1) %></h1>

<p>
  Congratulations on finishing your first Ruby application! The next step in becoming an awesome developer is to be able to think of solutions to problems and output it in code. Right now, you are most likely in the stage where you're not sure what you're doing at all - but it's perfectly normal and we expect it to be that way. The only way to get comfortable with programming is to practice, so that's what we're going to do.
</p>

<p>
  We're first going to have you go through another set of great tutorials called <a href="https://rubymonk.com/" target="_blank">Ruby Monk</a> so that you can go through the fundamentals of Ruby again. The level of difficulty is a little bit higher than Codecademy, so it should be a good challenge.
</p>

<h3>Assignment</h3>
<h4>Duration: Less than 1 Week</h4>

<ul>
<li>Go to <a href="https://rubymonk.com/" target="_blank">Ruby Monk</a></li>
<li>Start <strong>Ruby Primer</strong></li>
<li>Finish <strong>Introduction To Ruby Objects</strong> to <strong>Introduction to Ruby Methods</strong></li>
</ul>
