<h1><%= title_for(HtmlCss, 1, 1) %></h1>

<p>
  For your first intro to HTML and CSS, we are going to use Dash Assembly's HTML and CSS course because it's simply <i>awesome</i>.
</p>

<p>
	Jump on to <a href = "https://dash.generalassemb.ly" target = "_blank">this link</a> to get started! You'll need to sign up for an account, but after that you'll be all set.
</p>

<p>
	You'll be building a personal website, a responsive blog theme, a small business website, and a CSS robot. Pretty awesome stuff! For an intro course, it's one of the best courses out there. By the way if you were wondering, responsive means that the front end responds to the screen size of the user. For example, this website is responsive. Try shrinking the browser and you will see the components shrinking and expanding.
</p>

<p>
  Don't worry about completing Project 5 for now since it goes into JavaScript. For now, let's try to finish Project 1 ~ 4. If you're really ambitious, you can go ahead and finish Project 5, but it's not necessary to do just yet. We'll get there though!
</p>

<p>
  Once you've completed the course, post a link to an uploaded screenshot of your Dash Assembly screen using <a href = "http://imgur.com/" target = "_blank">imgur</a> so that we can see that you've completed the course. We'll send you a thumbs up message, but in the meanwhile once you've finished this lesson, let's go ahead and learn some more HTML and CSS.
</p>

<br>

<br class = "clear">

<%= render 'lesson_nav_section' %>

<%= render partial: '/submission_comments/submission_for_lesson', locals: { name: 'HtmlCss', lesson: 2} %>

<%= render partial: '/comments/for_lesson', locals: { name: 'HtmlCss', lesson: 2} %>

