<h1><%= title_for(HtmlCss, 3, 9) %></h1>

<p>
  This is your final step! We've made a great website, <strong>now let's host it online.</strong>
</p>

<p>
  <strong>This is going to be your first challenge.</strong> We give these challenges so that you <strong>learn to figure things out by yourselves</strong>. We've emphasized the importance of googling. Utilize your newfound googling abilities to figure out how to host the website so that you can share it with your friends! (Hint: A good question to ask google might be something like "How to host a static website")
</p>

<p>
  Once you've figured it out, <span style="color:red;">submit a link to your website below in the submissions section to get your code reviewed! :)</span>
</p>

<br>

<br class = "clear">

<%= render 'lesson_nav_section' %>

<%= render partial: '/submission_comments/submission_for_lesson', locals: { name: 'HtmlCss', lesson: params[:id]} %>

<%= render partial: '/comments/for_lesson', locals: { name: 'HtmlCss', lesson: params[:id]} %>
