<h1><%= title_for(HtmlCss, 3, 7) %></h1>

<p>
  Now that we've got our basic stuff up, let's add a footer onto our landing page.
</p>

<p>
  
</p>

<br>

<br class = "clear">

<%= render 'lesson_nav_section' %>

<%= render partial: '/submission_comments/submission_for_lesson', locals: { name: 'HtmlCss', lesson: params[:id]} %>

<%= render partial: '/comments/for_lesson', locals: { name: 'HtmlCss', lesson: params[:id]} %>
