<section class="about-founders">
  <div class="container-fluid">
    <div class="row">
      <h1 class="title text-center">Advisory Board</h1>

      <div class="break"></div>

      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-xs-12 col-md-4">            
            <%= image_tag 'maxim.jpg', class: 'img-responsive', alt: 'Techrise Nepal Maxim Wheatley' %>            
          </div>  

          <div class="col-xs-12 col-md-8">
            <p class="founder-name">Maxim Wheately</p>
            <p><small>Founder & Chief Product Offer at Phoresis Medical | Co-Founder at LifeFuels | Entrepreneur in Residence at Georgetown University</small></p>

            <hr />

            <p style="text-align: justify">
                Maxim is an award-winning product leader and innovator, with proven success operating at the intersection of business development, innovation, and product strategy.
            </p>

            <p style="text-align: justify">
                Maxim co-founded LifeFuels, and was the founding Chief Product Officer where he won multiple industry awards, including the coveted CES Innovation Award. He is a prolific inventor with over 20 patents, both issued and pending. He also serves as the youngest Entrepreneur in Residence at Georgetown University’s business school. 
            </p>

            <p style="text-align: justify">
                Maxim has worked in venture capital at Fortify Ventures, an investment firm and accelerator, he was also an Associate Producer & Business Development Director for Startupland (screened in 60+ countries, in partnership with the World Bank, United Nations Foundation, Startup Weekend, and UP Global)
            </p>

            <p style="text-align: justify">
                He is the author of “Design Thinking: Taking a Product to Market” and speaks regularly on product development, innovation, and entrepreneurship. 
            </p>

            <p style="text-align: justify">
                Maxim graduated from Georgetown University with a degree in Cognitive Science & Psychology, where he also conducted research in NIH-backed neuroscience labs focused on Alzheimer’s and Autism.
            </p>
          </div>
        </div><!-- row -->
      </div><!-- col-xs- 12 -->

    </div><!-- row -->

  </div>

</section>