<section class="explore-programs">
  <div class="container">
    <h3 class="text-center explore-programs-title">EXPLORE TECHRISE PROGRAMS</h3>
    <h1 class="text-center explore-programs-subtitle">Choose the best program for you</h1>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <a href="/remote" style="color: inherit; text-decoration: none;">
          <div class="explore-program-box">
            <div class="program-box-title">
              <h4>TECHRISE Core Remote</h4>
            </div><!-- program-box-title -->

            <div class="program-box-highlights">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>4</h3>
                  <h5>Weeks Part-time</h5>
                </div><!-- col-xs-12 col-md-6 -->

                <div class="col-xs-12 col-md-6">
                  <h3>4,500 NPR</h3> 
                  <h5>Total Cost</h5>               
                </div><!-- col-xs-12 col-md-6 -->
              </div><!-- row -->
            </div><!-- program-box-highlights -->

            <div class="program-box-details">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <ul>
                    <li>Over 100 hours of course material</li>
                    <li>Weekly Mentor Sessions</li>
                    <li>Learn Completely Online</li>
                    <li>Learn at your own pace</li>
                  </ul>
                </div><!-- col-xs-12 col-md-6 -->

                <div class="col-xs-12 col-md-6">
                  <ul>
                    <li>Online Mentor Sessions</li>
                    <li>Access to Online Forum and Community</li>
                    <li>Build Real-World Web Applications</li>    
                    <li>All Courses Included</li>                  
                  </ul>
                </div><!-- col-xs-12 col-md-6 -->

              </div><!-- row -->
            </div><!-- program-box-details -->

          </div><!-- program-box -->
        </a>
      </div><!-- col-xs-12 col-md-6 -->

      <div class="col-xs-12 col-md-6">
        <a href="/immersive" style="color: inherit; text-decoration: none;">
          <div class="explore-program-box immersive-box">
            <div class="program-box-title">
              <h4>TECHRISE Core Immersive</h4>
            </div><!-- program-box-title -->

            <div class="program-box-highlights">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>8</h3>
                  <h5>Weeks Intensive</h5>
                </div><!-- col-xs-12 col-md-6 -->

                <div class="col-xs-12 col-md-6">
                  <h3>12,000 NPR</h3>
                  <h5>Total Cost</h5>
                </div><!-- col-xs-12 col-md-6 -->
              </div><!-- row -->
            </div><!-- program-box-highlights -->

            <div class="program-box-details">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <ul>
                    <li>Over 180 hours of course material</li>
                    <li>16 Mentor Sessions</li>
                    <li>Access to Online Forum and Community</li>
                    <li>Lifetime Access to Curriculum</li>                    
                  </ul>
                </div><!-- col-xs-12 col-md-6 -->

                <div class="col-xs-12 col-md-6">
                  <ul>
                    <li>Opportunities to work on real web development projects</li>
                    <li>Mentor sessions twice per week</li>
                    <li>Build Real-World Web Applications</li>  
                    <li>All Courses Included</li>               
                  </ul>
                </div><!-- col-xs-12 col-md-6 -->
              </div><!-- row -->
            </div><!-- program-box-details -->

          </div><!-- program-box -->
        </a>
      </div><!-- col-xs-12 col-md-6 -->

      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="cta-box">
          <h3><%= link_to 'Learn More', apply_path, class: 'btn btn-cta btn-cta-primary btn-block' %></h3>
        </div>
      </div>

    </div><!-- row -->    
  </div><!-- container -->
</section>