<section class="explore-programs">
  <div class="container">
    <h3 class="text-center explore-programs-title">EXPLORE TECHRISE PROGRAMS</h3>
    <h1 class="text-center explore-programs-subtitle">Choose the best program for you</h1>

    <table class="table table-responsive">
      <tr>
        <th class="col-xs-4"></th>
        <th>TECHRISE Core Remote</th>
        <th>TECHRISE Core Immersive</th>
      </tr>

      <tr>
        <td><strong>Cost / Month</strong></td>
        <td>4,500 NPR</td>  
        <td>6,000 NPR</td>
      </tr>

      <tr>
        <td><strong>Mentor Sessions</strong></td>
        <td>4</td>
        <td>8</td>
      </tr>

      <tr>
        <td><strong>All Courses Included</strong></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>

      <tr>
        <td><strong>7 Days a Week Support</strong></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>

      <tr>
        <td><strong>Virtual Workshops</strong></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>

      <tr>
        <td><strong>Weekly Office Hours</strong></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>

      <tr>
        <td><strong>Study At Your Own Pace</strong></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>

      <tr>
        <td><strong>Hiring Opportunities for Top Graduates</strong></td>
        <td></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>

      <tr>
        <td><strong>Lifetime Access to Curriculum</strong></td>
        <td></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>

      <tr>
        <td><strong>Interview Preperation / Mock Interviews</strong></td>
        <td></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>

      <tr>
        <td></td>
        <td>
          <%= link_to 'Apply', 'https://goo.gl/forms/px1Qdlwmx2XmQ5MT2', target: '_blank', class: 'btn btn-cta-primary' %> 
          <br>or</br>
          <p><%= link_to 'View More Details', remote_path %></p>           
        </td>
        <td>
          <%= link_to 'Apply', 'https://goo.gl/forms/px1Qdlwmx2XmQ5MT2', target: '_blank', class: 'btn btn-cta-primary' %>
          <br>or</br>
          <p><%= link_to 'View More Details', immersive_path %></p>     
        </td>
      </tr>
    </table>

  </div><!-- container -->
</section>