<h2 class="title">Ready to start coding with TECHRISE?</h2>
<p class="intro">We are currently accepting applications for highly motivated students to join TECHRISE in future cohorts.</p>

<%= link_to 'Apply for Admission into TECHRISE', new_user_registration_path, class: 'btn btn-cta btn-cta-primary' %>
