<h2 class="title">Ready to start coding with TECHRISE?</h2>
<p class="intro">We are an innovative Learning Platform combining 1-on-1 mentor training, project-based learning, and a friendly student community that will accelerate your path to becoming a web developer.
</p>

<%= link_to 'Start Your Web Development Career', apply_path, class: 'btn btn-cta btn-cta-primary' %>
