<h2 class="title">Ready to start coding with TECHRISE?</h2>
<p class="intro">We are currently accepting applications for highly motivated students to join TECHRISE in future cohorts.</p>
<!-- <p class="intro">Sign up to get <span class="counting">instant access</span> to course materials and a personal mentor.</p> -->
<p><a class="btn btn-cta btn-cta-primary" href="/preregistration" target="_blank">Sign Up For Future Cohorts</a></p>