<div class="table-responsive hidden-sm hidden-xs" style="text-align:left;">  
    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>Place</strong></td>
                <td>
                    Work from home or at the TECHRISE workspace. Come in to the workspace once a week for mentor sessions. All of our material is on our online platform, so you can work anytime, anywhere, as long as you finish your work.
                </td>
            </tr>
            <tr>
                <td><strong>Duration</strong></td>
                <td>
                    The entire course will take 2 months. We expect all students to put in atleast 15 hours a week for learning and coding.
                </td>
            </tr>
            <tr>
                <td><strong>Price</strong></td>
                <td>    
                    20,000 NPR for 2 months. Read more <%= link_to 'here', pricing_path %>.
                </td>
            </tr>
            <tr>
                <td><strong>Requirements</strong></td>
                <td>    
                    We require that you are able to work atleast 15 hours a week with internet connectivity and a PC.  Prior coding experience is not required, but the motivation to learn at a fast pace is a must.
                </td>
            </tr>
        </tbody>
    </table>
    </div><!--//table-responsive-->

    <div class="hidden-lg hidden-md">
    <h4>Place</h4>
    <p>
        Work from home or at the TECHRISE workspace. Come in to the workspace once a week for mentor sessions. All of our material is on our online platform, so you can work anytime, anywhere, as long as you finish your work.
    </p>    
    <h4>Duration</h4>
    <p>
        The entire course will take 2 months. We expect all students to put in atleast 15 hours a week for learning and coding.
    </p>

    <h4>Price</h5>
    <p>
        20,000 NPR for 2 months. Read more <%= link_to 'here', pricing_path %>.
    </p>
    <h4>Requirements</h4>

    <p>
        We require that you are able to work atleast 15 hours a week with internet connectivity and a PC.  Prior coding experience is not required, but the motivation to learn at a fast pace is a must.
    </p>
</div>