<section class="section testimonials-section">
  <div class="container text-center">

    <h2 class="title text-center">What Experts Are Saying</h2>

    <div class="row">
      <div class="col-xs-12">
        <div class="testimonial-card">
          
          <div class="content">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <figure class="profile"><%= image_tag 'landing_page/lizanderson.jpg' %></figure>

                <p><strong>Liz Anderson</strong><br><span class="college">Director of Engagement, Beeck Center for Social Impact + Innovation at Georgetown University</span></p>
              </div>

              <div class="col-xs-12 col-md-7 col-md-offset-1">
                <p style="text-align: justify">
                 "TECHRISE is more than a coding camp - it's <strong>a vehicle</strong> for empowering the youth of Nepal with the knowledge and tools they need to <strong>unlock their true economic and personal potential.</strong> Because the TECHRISE model provides former students to also become teachers, the organization is creating a <strong>network effect for sustainable and long-term transformative change</strong>. One student at a time, <strong>TECHRISE is not only changing lives at an individual level, but is also building a highly skilled workforce that has the potential to grow Nepal's economic stability as a whole.</strong>"
                </p>     
              </div><!-- col-xs-12 col-md-8 --> 
            </div><!-- row -->
              
          </div><!--//content-->                   
        </div><!-- testimonial-card -->
      </div><!-- col-xs-12 col-sm-6 col-md-4 -->

      <div class="col-xs-12">
        <div class="testimonial-card">
          
          <div class="content">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <figure class="profile"><%= image_tag 'landing_page/ganesh.jpg' %></figure>

                <p><strong>Ganesh Man Lama</strong><br><span class="college">President, Air Asia X Nepal | Managing Director, Incentive Group of Companies</span></p>
              </div>

              <div class="col-xs-12 col-md-7 col-md-offset-1">
                <p style="text-align: justify">
                 "<strong>TECHRISE will definitely help to develop skilled manpower and provide great employment opportunity.</strong> Since the education system of Nepal is based on heavily on theory, even after graduation in related majors, people are not able to find a job in international labour markets. Currently <strong>more than 6,000,000 Nepalese unskilled workers are working abroad as a labourer</strong>. If we could train them to be skilled manpower, <strong>it will definitely help Nepal's national economy</strong>."
                </p>      
              </div><!-- col-xs-12 col-md-8 --> 
            </div><!-- row -->
              
          </div><!--//content-->          

   
        </div><!-- testimonial-card -->
      </div><!-- col-xs-12 col-sm-6 col-md-4 -->
             
    </div>
  </div>
</section>