<section class="about-founders">
  <div class="container-fluid">
    <div class="row">
      <h1 class="title text-center">About the Founders</h1>

      <div class="break"></div>

      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 col-md-4">            
            <%= image_tag 'take.jpg', class: 'img-responsive', alt: 'Techrise Nepal Takehiro Mouri' %>            
          </div>  

          <div class="col-xs-12 col-md-8">
            <p class="founder-name">Takehiro Mouri</p>
            <p style="text-align: justify">
                Takehiro is a passionate developer with experience working with multiple US startups as well as experience with over 60 international freelance clients. Multiple category winner at one of the largest student based hackathons in the US. Has been awarded 1st place in multiple top-level presentation/speech contests in Japan. Speaker at TEDxTokyoTeachers. Keynote Speaker at the International Conference on ICT.
            </p>
          </div>
        </div><!-- row -->
      </div><!-- col-xs- 12 -->

      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <%= image_tag 'natsuko.jpg', class: 'img-responsive', alt: 'Techrise Nepal Natsuko Robyn Shinozaki' %>
          </div>  

          <div class="col-xs-12 col-md-8">
            <p class="founder-name">Natsuko Robyn Shinozaki</p>
            <p style="text-align: justify">
                Born in Singapore and raised in Japan. Passionate about creating social impact, especially through employing local innovative solutions. Studied International Development in Georgetown University in the US, while gaining experience in the social impact field through various organisations and institutions. Nepal is a country that has a special place in her heart after experiencing the earthquake in 2015, helping out with local rebuilding and reconstruction efforts. She takes the business development and marketing role in TECHRISE.
            </p>
          </div>
        </div><!-- row -->
      </div>
    </div><!-- row -->

  </div>

</section>