<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//techrise.us12.list-manage.com/subscribe/post?u=fd40ec37b8bb288eb34150fd3&amp;id=5913233cd0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
    <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
    <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
    <label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
</label>
    <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
</div>
<div class="mc-field-group size1of2">
    <label for="mce-AGE">Age  <span class="asterisk">*</span>
</label>
    <input type="number" name="AGE" class="required" value="" id="mce-AGE">
</div>
<div class="mc-field-group">
    <label for="mce-GENDER">Gender  <span class="asterisk">*</span>
</label>
    <select name="GENDER" class="required" id="mce-GENDER">
    <option value=""></option>
    <option value="Male">Male</option>
<option value="Female">Female</option>
<option value="Other">Other</option>

    </select>
</div>
<div class="mc-field-group">
    <label for="mce-SCHOOL">School  <span class="asterisk">*</span>
</label>
    <input type="text" value="" name="SCHOOL" class="required" id="mce-SCHOOL">
</div>
<div class="mc-field-group">
    <label for="mce-EXPERIENCE">Coding Experience  <span class="asterisk">*</span>
</label>
    <textarea value="" name="EXPERIENCE" class="required" id="mce-EXPERIENCE" rows="5" style="width:100%;"></textarea>
</div>
<div class="mc-field-group input-group">
    <strong>What are your goals?  <span class="asterisk">*</span>
</strong>
    <ul><li><input type="radio" value="Be hired as a developer" name="GOALS" id="mce-GOALS-0"><label for="mce-GOALS-0">Be hired as a developer</label></li>
<li><input type="radio" value="Work as a freelance developer" name="GOALS" id="mce-GOALS-1"><label for="mce-GOALS-1">Work as a freelance developer</label></li>
<li><input type="radio" value="Start my own business" name="GOALS" id="mce-GOALS-2"><label for="mce-GOALS-2">Start my own business</label></li>
<li><input type="radio" value="Be hired as a developer at a company in Nepal" name="GOALS" id="mce-GOALS-3"><label for="mce-GOALS-3">Be hired as a developer at a company in Nepal</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>How much would you pay for the 3 month coding bootcamp? <span class="asterisk">*</span>
</strong><small>(This is only for future reference, you won't have to pay anything :D )</small>
    <ul><li><input type="radio" value="10,000 Nepali Rupees" name="MAX_P" id="mce-MAX_P-0"><label for="mce-MAX_P-0">10,000 Nepali Rupees</label></li>
<li><input type="radio" value="20,000 Nepali Rupees" name="MAX_P" id="mce-MAX_P-1"><label for="mce-MAX_P-1">20,000 Nepali Rupees</label></li>
<li><input type="radio" value="30,000 Nepali Rupees" name="MAX_P" id="mce-MAX_P-2"><label for="mce-MAX_P-2">30,000 Nepali Rupees</label></li>
<li><input type="radio" value="40,000 Nepali Rupees" name="MAX_P" id="mce-MAX_P-3"><label for="mce-MAX_P-3">40,000 Nepali Rupees</label></li>
<li><input type="radio" value="50,000 Nepali Rupees" name="MAX_P" id="mce-MAX_P-4"><label for="mce-MAX_P-4">50,000 Nepali Rupees</label></li>
<li><input type="radio" value="I would not pay at all" name="MAX_P" id="mce-MAX_P-5"><label for="mce-MAX_P-5">I would not pay at all</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>Which of the following is most important for you?  <span class="asterisk">*</span>
</strong>
    <ul><li><input type="radio" value="1 on 1 Mentor Sessions" name="IMPORTANT" id="mce-IMPORTANT-0"><label for="mce-IMPORTANT-0">1 on 1 Mentor Sessions</label></li>
<li><input type="radio" value="Opportunities and connections to work as developer at some company" name="IMPORTANT" id="mce-IMPORTANT-1"><label for="mce-IMPORTANT-1">Opportunities and connections to work as developer at some company</label></li>
<li><input type="radio" value="Learn how to create web applications so I can become a freelance developer" name="IMPORTANT" id="mce-IMPORTANT-2"><label for="mce-IMPORTANT-2">Learn how to create web applications so I can become a freelance developer</label></li>
<li><input type="radio" value="Learn how to create web applications so I can start my own business" name="IMPORTANT" id="mce-IMPORTANT-3"><label for="mce-IMPORTANT-3">Learn how to create web applications so I can start my own business</label></li>
</ul>
</div>
<div class="mc-field-group">
    <label for="mce-MMERGE10">Why do you want to enroll in TECHRISE?  <span class="asterisk">*</span>
</label>
    <textarea value="" name="MMERGE10" class="required" id="mce-MMERGE10" rows="5" style="width:100%;"></textarea>
</div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fd40ec37b8bb288eb34150fd3_5913233cd0" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Register" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success" style="margin: 0px; border:none;"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='EXPERIENCE';ftypes[3]='text';fnames[4]='AGE';ftypes[4]='number';fnames[5]='GENDER';ftypes[5]='dropdown';fnames[6]='SCHOOL';ftypes[6]='text';fnames[7]='GOALS';ftypes[7]='radio';fnames[8]='MAX_P';ftypes[8]='radio';fnames[9]='IMPORTANT';ftypes[9]='radio';fnames[10]='MMERGE10';ftypes[10]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->