<div id="timeline" class="timeline-container">
        <div class="timeline-wrapper">
                <h2 class="timeline-time">Prework</h2>

                <dl class="timeline-series">

                        <dt class="timeline-event" id="event01"><a>Introduction to TECHRISE</a></dt>
                        <dd class="timeline-event-content" id="event01EX">
                                <p>
                                  You will have a brief introduction about what TECHRISE is and how we create superstar coders.
                                </p>
                        </dd>

                        <dt class="timeline-event" id="event02"><a>HTML/CSS</a></dt>
                        <dd class="timeline-event-content" id="event02EX">
                                <p>
                                  During the 2 week pre-work period, you will learn the basics of HTML and CSS. You do not need any prior experience with programming to complete these assignments. The pre-work is completely free, and TECHRISE Mentors will be there to support you at any time.
                                </p>
                        </dd>

                </dl>
        </div>
        <div class="timeline-wrapper">
                <h2 class="timeline-time">Week 1</h2>

                <dl class="timeline-series">

                        <dt class="timeline-event" id="event03"><a>Introduction to Bootstrap</a></dt>
                        <dd class="timeline-event-content" id="event03EX">
                                <p>
                                  Learn how to use the popular front-end framework used by many companies and start ups.
                                </p>
                        </dd>

                        <dt class="timeline-event" id="event04"><a>Ruby Fundamentals</a></dt>
                        <dd class="timeline-event-content" id="event04EX">
                                <p>
                                  Dive into the fundamentals of the Ruby language. Learning Ruby is fundamental in developing applications with Ruby on Rails.
                                </p>
                        </dd>

                        <dt class="timeline-event" id="event05"><a>Master the Command Line</a></dt>
                        <dd class="timeline-event-content" id="event05EX">
                                <p>
                                  In order to navigate smoothly in the terminal, learning how to manipulate the command line is crucial.
                                </p>
                        </dd>

                </dl>
        </div>

        <div class="timeline-wrapper">
                <h2 class="timeline-time">Week 2 ~ 3</h2>

                <dl class="timeline-series">

                        <dt class="timeline-event" id="event06"><a>Ideator - An Idea Sharing App</a></dt>
                        <dd class="timeline-event-content" id="event06EX">
                                <p>
                                  Build your first Ruby on Rails application. This application let's users post and share ideas with others.
                                </p>
                        </dd>

                </dl>
        </div>

        <div class="timeline-wrapper">
                <h2 class="timeline-time">Week 3 ~ 4</h2>

                <dl class="timeline-series">

                        <dt class="timeline-event" id="event07"><a>MVC and Rails</a></dt>
                        <dd class="timeline-event-content" id="event07EX">
                                <p>
                                  Learn about what the MVC framework, HTTP Methods, common methods in Ruby on Rails, and how database migrations work in Ruby on Rails.
                                </p>
                        </dd>

                        <dt class="timeline-event" id="event08"><a>Ruby Core Training</a></dt>
                        <dd class="timeline-event-content" id="event08EX">
                                <p>
                                  Dive deeper into the world of Ruby. You will go through a series of training problems and coding challenges to become more familiar with the Ruby language and improve your Ruby skills.
                                </p>
                        </dd>                  

                </dl>
        </div>

         <div class="timeline-wrapper">
                <h2 class="timeline-time">Week 4 ~ 5</h2>

                <dl class="timeline-series">

                        <dt class="timeline-event" id="event09"><a>Instapost - an Instagram Clone</a></dt>
                        <dd class="timeline-event-content" id="event09EX">
                                <p>
                                  Build your second application - an Instagram clone. While building this application, you'll learn how to build more complex applications with features such as user authentication, commenting, and the ability for users to like posts. You will touch a little bit about what AJAX is and how you can implement it in Rails applications.
                                </p>
                        </dd>

                </dl>
        </div>

        <div class="timeline-wrapper">
                <h2 class="timeline-time">Week 5 ~ 6</h2>

                <dl class="timeline-series">

                        <dt class="timeline-event" id="event010"><a>RSpec and Testing</a></dt>
                        <dd class="timeline-event-content" id="event010EX">
                                <p>
                                  Learn the basics of testing your applications with the RSpec framework. As a professional developer, it is crucial that you know how to test your applications. You will build a simple blog application with the Test Driven Development (TDD) philosophy.
                                </p>
                        </dd>

                </dl>
        </div>

        <div class="timeline-wrapper">
                <h2 class="timeline-time">Week 7 ~ 8</h2>

                <dl class="timeline-series">

                        <dt class="timeline-event" id="event011"><a>JavaScript/jQuery</a></dt>
                        <dd class="timeline-event-content" id="event011EX">
                                <p>
                                  Learn the basics of JavaScript and jQuery to start building more interactive web applications.
                                </p>
                        </dd>

                </dl>

                <dl class="timeline-series">

                        <dt class="timeline-event" id="event012"><a>Intermediate/Advanced Ruby on Rails</a></dt>
                        <dd class="timeline-event-content" id="event012EX">
                                <p>
                                  Learn more advanced Ruby on Rails in your final weeks at TECHRISE. You will learn how Ruby on Rails works under the hood, providing you the knowledge necessary to call yourself a Ruby on Rails developer.
                                </p>
                        </dd>

                </dl>
        </div>

    <br class="clear">
</div>