<div id="timeline" class="timeline-container">
        <div class="timeline-wrapper">
                <h2 class="timeline-time">Track 1: Intro to Software Engineering</h2>

                <dl class="timeline-series">

                        <dt class="timeline-event" id="event01"><a>Introduction to TECHRISE</a></dt>
                        <dd class="timeline-event-content" id="event01EX">
                                <p>
                                  You will have a brief introduction about what TECHRISE is and how we create superstar coders.
                                </p>
                        </dd>

                        <dt class="timeline-event" id="event02"><a>HTML/CSS</a></dt>
                        <dd class="timeline-event-content" id="event02EX">
                                <p>
                                  Build 4 projects including a personal portfolio page that you can use to boost your professional career. Learn the basics of HTML and CSS.
                                </p>
                        </dd>

                        <dt class="timeline-event" id="event03"><a>Introduction to Bootstrap</a></dt>
                        <dd class="timeline-event-content" id="event03EX">
                                <p>
                                  Learn how to use the popular front-end framework used by many companies and start ups.
                                </p>
                        </dd>

                        <dt class="timeline-event" id="event04"><a>Ruby Fundamentals</a></dt>
                        <dd class="timeline-event-content" id="event04EX">
                                <p>
                                  Dive into the fundamentals of the Ruby language. Learning Ruby is fundamental in developing applications with Ruby on Rails.
                                </p>
                        </dd> 

                </dl>
        </div>
        <div class="timeline-wrapper">
                <h2 class="timeline-time">Track 2: Ruby on Rails Application</h2>

                <dl class="timeline-series">

                    <dt class="timeline-event" id="event06"><a>Ideator - An Idea Sharing App</a></dt>
                    <dd class="timeline-event-content" id="event06EX">
                            <p>
                              You'll build an Idea Sharing app using the Ruby on Rails framework, HTML, and CSS. You'll learn the basics of MVC framework, how to use Git for version control, and you'll launch your application live with professional tools.
                            </p>
                    </dd>

                    <dt class="timeline-event" id="event07"><a>MVC and Rails</a></dt>
                    <dd class="timeline-event-content" id="event07EX">
                            <p>
                              Learn about what the MVC framework, HTTP Methods, common methods in Ruby on Rails, and how database migrations work in Ruby on Rails.
                            </p>
                    </dd>
                            

                </dl>
        </div>

        <div class="timeline-wrapper">
                <h2 class="timeline-time">Track 3: User Features and AJAX</h2>

                <dl class="timeline-series">

                    <dt class="timeline-event" id="event08"><a>Ruby Core Training</a></dt>
                    <dd class="timeline-event-content" id="event08EX">
                            <p>
                              Dive deeper into the world of Ruby. You will go through a series of training problems and coding challenges to become more familiar with the Ruby language and improve your Ruby skills.
                            </p>
                    </dd> 

                    <dt class="timeline-event" id="event09"><a>Instapost - an Instagram Clone</a></dt>
                    <dd class="timeline-event-content" id="event09EX">
                            <p>
                              Build your second application - an Instagram clone. While building this application, you'll learn how to build more complex applications with features such as user authentication, commenting, and the ability for users to like posts. You will touch a little bit about what AJAX is and how you can implement it in Rails applications.
                            </p>
                    </dd>

                </dl>
        </div>

        <div class="timeline-wrapper">
                <h2 class="timeline-time">Track 4: Javascript and Advanced Rails</h2>

                <dl class="timeline-series">

                        <dt class="timeline-event" id="event011"><a>JavaScript/jQuery</a></dt>
                        <dd class="timeline-event-content" id="event011EX">
                                <p>
                                  Learn the basics of JavaScript and jQuery to start building more interactive web applications.
                                </p>
                        </dd>

                        <dt class="timeline-event" id="event07"><a>Filmster</a></dt>
                        <dd class="timeline-event-content" id="event07EX">
                                <p>
                                  Build an online movie review web application with a fluid user interface with Javascript and AJAX while implementing software engineering best practices.
                                </p>
                        </dd>

                                         

                </dl>
        </div>

         <div class="timeline-wrapper">
                <h2 class="timeline-time">Track 5: Test Driven Development</h2>

                <dl class="timeline-series">

                        <dt class="timeline-event" id="event010"><a>RSpec and Testing</a></dt>
                        <dd class="timeline-event-content" id="event010EX">
                                <p>
                                  Learn the basics of testing your applications with the RSpec framework. As a professional developer, it is crucial that you know how to test your applications. You will build a simple blog application with the Test Driven Development (TDD) philosophy.
                                </p>
                        </dd>

                </dl>
        </div>

    <br class="clear">
</div>