<div class="headline-bg about-headline-bg">
</div><!--//headline-bg-->   

<section class="story-section section section-on-bg">
        <h2 class="title container text-center">Our story, our values</h2>
        <div class="story-container container text-center"> 
            <div class="story-container-inner" >                    
                <div class="about">
                    <p style="text-align: justify;"><span style="font-size: 25px;font-weight: 600;">Our story began when we fell in love with Nepal</span> and it’s beautiful people during our stay for a couple of months in 2015. We made lots of friends–friends who wanted to begin their own restaurant business, friends who wanted to create an environmentally friendly local community, friends who wanted a better future for themselves and those around them.
                     </p>

                    <p style="text-align: justify;">
                      We wanted to help them turn those dreams into reality. With Takehiro’s passion for coding, and Natsuko’s drive to create social impact, TECHRISE was born.
                      We believe that teaching coding skills through TECHRISE can help our friends gain greater economic opportunities and fulfill their dreams.
                    </p>        
                </div><!--//about-->
                <div class="team row">
                    <h3 class="title">Meet the team</h3>
                    <div class="member col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <%= image_tag 'natsuko.jpg', class: 'img-responsive', alt: 'Techrise Nepal Natsuko Robyn Shinozaki', style: 'height: 230px;' %>
                                <figcaption class="info">
                                    <span class="name">Natsuko Robyn Shinozaki</span>
                                    <br />
                                    <span class="job-title">Co-Founder</span>
                                    
                                </figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="https://www.linkedin.com/in/robyn-natsuko-shinozaki-12883487"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <%= image_tag 'take.jpg', class: 'img-responsive', alt: 'Techrise Nepal Takehiro Mouri' %>
                                <figcaption class="info"><span class="name">Takehiro Mouri</span><br /><span class="job-title">Co-Founder</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="https://www.linkedin.com/in/takehiro-mouri-a3083487"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="https://twitter.com/TakehiroMouri"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                   
                </div><!--//team-->
                
            </div><!--//story-container--> 
        </div><!--//container-->
    </section><!--//story-video-->