<% title("Curriculum | TECHRISE - Coding Bootcamp in Nepal") %>

<div class="headline-bg">
</div><!--//headline-bg-->         

<section class="features-video section section-on-bg">
    <div class="container text-center">          
        <h2 class="title">TECHRISE Curriculum</h2>
        <div class="video-container" style="background-color: #ffffff; text-align:left;">
            <div class="container-fluid" style="padding: 35px;">
                <p>
                    At TECHRISE, we have built and designed an effective curriculum by implementing the student's voices. Whenever a student has a question, we improve our curriculum to make sure that other students won't stumble upon the same problem.
                </p>

                <p>
                    <strong>In a short period of time, you will go from Zero to Web Developer with the TECHRISE Curriculum.</strong>
                </p>

                <%= render 'static_pages/timeline' %>

                <div class="curriculum-cta text-center">
                    <h4 class="title" style="color:#333;">Want to experience the TECHRISE Curriculum?</h4>
                    <p><%= link_to 'Sign Up to Gain Instant Access', new_user_registration_path, class: 'btn btn-cta btn-cta-primary' %></p>
                </div>

                
            </div>
        </div><!--//video-container--> 
    </div><!--//container-->
</section><!--//feature-video-->

<!-- ******Steps Section****** --> 
<section class="steps section">
    <div class="container">
        <h2 class="title text-center">3 Simple Steps to Get you started with TECHRISE</h2>
        <div class="row">
             <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                 <h3 class="title"><span class="number">1</span><br /><span class="text">Sign up for Prescreening</span></h3>
                 <p>We are currently accepting applications for highly motivated students to join TECHRISE. If you are interested, please sign up below.</p>
             </div><!--//step-->
             <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                 <h3 class="title"><span class="number">2</span><br /><span class="text">Complete Prework</span></h3>
                 <p>Once you sign up, you will have 4 days to complete a series of assignments. You will learn the basics of HTML and CSS. If you complete all of these assignments on time, you will be called in for an admission interview.</p>
             </div><!--//step-->
             <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                 <h3 class="title"><span class="number">3</span><br /><span class="text">Start Your Coding Career</span></h3>
                 <p>From here, you'll be skyrocketing. Build projects, have a personal mentor, learn from peers, and become a successful web developer.</p>
             </div><!--//step-->
        </div><!--//row-->
        
        <div class="text-center"><%= link_to 'Get Started with Your Web Development Career', new_user_registration_path, class: 'btn btn-cta btn-cta-primary' %></div>
        
    </div><!--//container-->        
</section><!--//steps-->

<script>
        $(document).ready(function() {
                $.timeliner({});
        });
</script>