<% title("Curriculum | TECHRISE - Coding Bootcamp in Nepal") %>

<div class="headline-bg">
</div><!--//headline-bg-->         

<section class="features-video section section-on-bg">
    <div class="container text-center">          
        <h2 class="title">TECHRISE Curriculum</h2>
        <div class="video-container" style="background-color: #ffffff; text-align:left;">
            <div class="container-fluid" style="padding: 35px;">
                <p>
                    At TECHRISE, we have built and designed an effective curriculum by implementing the student's voices. Whenever a student has a question, we improve our curriculum to make sure that other students won't stumble upon the same problem.
                </p>

                <p>
                    <strong>In a short period of time, you will go from Zero to Web Developer with the TECHRISE Curriculum.</strong>
                </p>

                <%= render 'static_pages/timeline' %>

                <div class="curriculum-cta text-center">
                    <h4 class="title" style="color:#333;">Want to experience the TECHRISE Curriculum?</h4>
                    <p><%= link_to 'Apply Now', apply_path, class: 'btn btn-cta btn-cta-primary' %></p>
                </div>

                
            </div>
        </div><!--//video-container--> 
    </div><!--//container-->
</section><!--//feature-video-->

<script>
        $(document).ready(function() {
                $.timeliner({});
        });
</script>