<div class="row">
  <div class="col-xs-12">
    <h1 class="mentee_title text-center"><span class="back_to_dashboard"><%= link_to '<i class="fa fa-caret-left" aria-hidden="true"></i> Back to Dashboard'.html_safe, dashboard_path, class: 'btn btn-back btn-default' %></span> Guidelines</h1>
  </div>
</div>

<div class="devise_box">


	<h3>The Basics</h3>

	<ul class="guideline-list">
		<li>Self learning through the online courses - try to finish it within the set week ( indicated at the bottom of each courses)</li>
		<li>Once a week mandatory sessions - book a session by Saturday evening each week</li>
	</ul>



	<h3>How to get most out of the TECHRISE learning experience</h3>

	<ul class="guideline-list">

		<li>Ask a lot of questions - forums, slack, individual mentor sessions, office hours</li>
		<li>Always be curious to learn material outside the curriculum</li>
		<li>Try to come to the briefing sessions each week - Although not mandatory, we will be giving tools and tips every week that would be useful even outside of the week’s lesson. Plus extra brownie points for attendance! </li>
		<li>Google!!</li>

	</ul>

	<h3>How to make most out of the mentor sessions</h3>

	<ul class="guideline-list">
		<li>Bring your computer</li>
		<li>When going through lessons, compile a list of questions to ask your mentor</li>
		<li>Prepare clear questions and learning goals before going to your mentor session - What are your learning objective? What do you want to get out of the mentor sessions?</li>
		<li>Fill in the mentor log after your mentor sessions - it will help improve our mentor system!</li>
	</ul>


	<h3>Standard TECHRISE Coders Protocol</h3>

	<ul class="guideline-list">
		<li>Write the mentor log on the day of your mentor sessions</li>
		<li>Book mentor sessions by Saturday evening</li>
		<li>If cancelling, inform your mentor two hours in advance. When running late, let your mentor know.  (Late : 30 minutes later than scheduled time) </li>
		<li>2 lates - friendly warning, 3 lates and beyond- the mentor sessions for the week will be terminated</li>
		<li>Mentor sessions are only available 16 times (4 times for remote course). They will expire after 2 ½ months ( meaning that even if you have not completed 16 mentor scheduled sessions, you will automatically not be able to take them). (They will expire after 1 ½ months for remote course) </li>
	</ul>


</div>