<!-- Header -->
<header>
    <div class="container">
        <div class="row">
          <div class="col-lg-12" style="margin-bottom:50px;">
                           
              <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
              <div class="intro-text">
                
                  <% if notice.present? %>
                    <p class="alert alert-info"><%= notice %></p>
                  <% end %>
                  <% if alert.present? %>
                    <p class="alert alert-danger"><%= alert %></p>
                  <% end %>

                  <span class="name">Pricing</span>
                  <hr class="star-light">
                  <span class="skills">I want to start coding with Techrise, but how much do I need to invest in my education?</span>

              </div>
              
          </div>
          <!-- start of BASIC section -->
          <div class = "col-xs-12 col-md-6">

            <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 style = "color:yellow;">BASIC</h2>
                  <hr class="star-light">

              </div>
            </div>

            <div class = "row">

              <div class = "col-lg-12">

                <ul class = "unindented_ul pricing_box">
                  <li><i class="fa fa-check"></i> Lifetime Access to Course Materials</li>
                  <li><i class="fa fa-check"></i> Learn How to Develop Complete Ruby on Rails Applications</li>
                  <li><i class="fa fa-check"></i> Train Your Brain With Algorithms</li>
                  <li><i class="fa fa-check"></i> Access to Q & A Forums</li>
                </ul>
                  
              </div>

              <div class="row">
                <div class="col-lg-12 text-center">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3 class = "pull-right"><i><u>$498.00</u></i></h3>
                    <br class = "clear">
                    <br class = "clear">
                    <%= link_to "JOIN BASIC", new_user_registration_path, class: "btn btn-danger btn-lg", style: "color:white;" %>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- end of BASIC section -->

          <!-- start of VIP section -->
          <div class = "col-xs-12 col-md-6">

            <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 style = "color:yellow;">V.I.P</h2>
                  <hr class="star-light">
              </div>
            </div>

            <div class="row">

              <div class = "col-lg-12">

                  <ul class = "unindented_ul pricing_box">
                    <li><i class="fa fa-check"></i> Lifetime Access to Course Materials</li>
                    <li><i class="fa fa-check"></i> Learn How to Develop Complete Ruby on Rails Applications</li>
                    <li><i class="fa fa-check"></i> Train Your Brain With Algorithms</li>
                    <li><i class="fa fa-check"></i> Access to Q & A Forums</li>
                    <li style = "color:orange;"><i class="fa fa-check"></i> 12 Weekly Mentor Sessions</li>
                    <li style = "color:orange;"><i class="fa fa-check"></i> Access to Student Slack Channel</li>
                  </ul>
    
              </div>

              <div class="row">
                <div class="col-lg-12 text-center">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3 class = "pull-right"><i><u>$978.00</u></i></h3>
                    <br class = "clear">
                    <br class = "clear">
                    <%= link_to "JOIN V.I.P", new_user_registration_path, class: "btn btn-danger btn-lg", style: "color:white;" %>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- end of VIP section -->
        </div>
    </div>
</header>