<div class="headline-bg about-headline-bg">
</div><!--//headline-bg-->   

<section class="story-section section section-on-bg">
    <h2 class="title container text-center">Support TECHRISE</h2>
    <div class="story-container container text-center"> 
        <div class="story-container-inner" >                    
            <div class="about">
                <h2 class="text-center">Donations</h2>

                <p>
                    Although TECHRISE aims to become a self-sustaining model, at this early stage we are in need of funding to get the project of the ground. Other than the day to day operational costs, <strong>a major portion of our funds are allocated towards hiring local mentors.</strong> In order to expand TECHRISE and provide more students with the opportunities to learn, it is important that we increase the number of mentors. This would directly benefit the locals too, as we will be hiring Nepali mentors.
                </p>

                <h3>
                    If you are interested in supporting us through donations please contact <a href="mailto:natsuko@techrise.me?Subject=Interested%20in%20Supporting%20TECHRISE" target="_top">natsuko@techrise.me</a>. Any contributions would be highly appreciated!
                </h3>

                <hr>

                <div style="margin-top:50px">
                    <h2 class="text-center">Web Development Outsourcing Services</h2>

                    <p>
                        <strong>We are currently looking for partners that are interested in outsourcing their web development work to TECHRISE.</strong> If your company or organization is looking for <strong>cost efficient web development solutions</strong> that can also make a <strong>positive social impact</strong> by empowering Nepali youths, please contact us at <a href="mailto:natsuko@techrise.me?Subject=Interested%20in%TECHRISE%20Web%20Development%20Services" target="_top">natsuko@techrise.me</a>.
                    </p>
                </div>

            </div><!--//about-->
            
            
        </div><!--//story-container--> 
    </div><!--//container-->
</section><!--//story-video-->

<br>