<h1>A better example of the sort_by method for hashes in Ruby</h1>

<p>
  Codecademy is great for learning the fundamentals, but at the same time sometimes they use really confusing examples.
</p>

<p>
  For example, in one of the lessons, you have to write code that looks like this:
</p>

<pre><code class="ruby">
puts "Enter Text:"
text = gets.chomp

words = text.split(" ")

frequencies = Hash.new(0)

words.each do |x|
    frequencies[x] += 1
end

frequencies =  frequencies.sort_by { |k, v| v}
frequencies.reverse!
</code></pre>

<p>
  What is this <code>frequencies.sort_by { |k, v| v}</code> code?!
</p>

<p>
  It's actually really easy to understand if you look at another example of how the <code>sort_by</code> method is used in hashes.
</p>

<h3>First, what are hashes?</h3>

<p>
  Hashes consist of keys and values. For example, we could have a <code>people</code> hash.
</p>

<pre><code class="ruby">
people = {
  :fred => 23,
  :joan => 18,
  :pete => 54
}
</code></pre>

<p>
  Inside the <code>people</code> hash, we have 3 sets of keys and values. <code>:fred</code>, <code>:joan</code>, <code>:pete</code> are all keys, and <code>23</code>, <code>18</code>, and <code>54</code> are all values.
</p>

<pre><code class="ruby">
people = {
  :fred => 23,
  :joan => 18,
  :pete => 54
}

people.sort_by { |name, age| age }
  # => [[:joan, 18], [:fred, 23], [:pete, 54]]

people.sort_by { |name, age| name }
  # => [[:fred, 23], [:joan, 18], [:pete, 54]]
</code></pre>

<p>
  <code>people.sort_by { |name, age| age }</code> -> here we are sorting the
</p>























