<p>
  Big O time is the language and metric we use to describe the efficiency of algorithms. Understanding Big O is essential when doing technical interviews, but it may seem like a scary concept at first.
</p>

<p>
  Big O isn't 
</p>