<h2>Assignment</h2>
<ol>
  <li>Read about <%= link_to 'insertion sort', 'https://www.tutorialspoint.com/data_structures_algorithms/insertion_sort_algorithm.htm', target: '_blank' %></li>
  <li>Implement insertion sort in Ruby</li>
</ol>