<p>
  As a software engineer trying to apply for the top engineering teams, you need to have some basic knowledge of data structures and algorithms. Computer science students study these data structures and algorithms intensely. We'll try to equip you with the necessary knowledge and skills to be able to implement these data structures and algorithms.
</p>

<p>
  At first, solving these challenges will take you a long time. <strong>Expect to struggle with these problems.</strong> For a lot of the problems, you could easily find the answers on Google since they are common interview questions.
</p>

<p>
   However, for these challenges, if you simply just Google the solutions and submit them, it's doing you no good. <strong>If you don't struggle with these problems and try to solve them yourself, then when you have to actually solve them in a technical interview, you won't be able to solve them.</strong>
</p>

<p>
  <strong>Top companies are looking for effective problem solvers.</strong> Technical interviews that test your knowledge on data structures and algorithms is common, since a level of problem solving skills are necessary to solve these challenges.
</p>

<p>
  Companies won't value developers who only know syntax - you have to be good at thinking through problems and working your way to the solutions. The following challenges will train you to do so.
</p>  

<p>
  So don't copy and paste - solve them yourself. Get ready to practice some data structures and algorithms!
</p>