<h2>Assignment</h2>
<ol>
  <li>Read about <%= link_to 'merge sort', 'https://www.tutorialspoint.com/data_structures_algorithms/quick_sort_algorithm.htm', target: '_blank' %></li>
  <li>Implement merge sort in Ruby</li>
</ol>