<h2>Assignment</h2>
<ol>
  <li>Read about <%= link_to 'quick sort', 'https://www.tutorialspoint.com/data_structures_algorithms/quick_sort_algorithm.htm', target: '_blank' %></li>
  <li>Implement quick sort in Ruby</li>
  <li>Push the code to your github account</li>
  <li>Submit a link to your github repository</li>
</ol>

<% @submission_form = true %>