<h2>Assignment</h2>
<ol>
  <li>Read about <%= link_to 'selection sort', 'https://www.tutorialspoint.com/data_structures_algorithms/selection_sort_algorithm.htm', target: '_blank' %></li>
  <li>Implement selection sort in Ruby</li>
</ol>