<h2>Tasks</h2>

<ul>
  <li>Install Carrierwave</li>
  <li>Setup Carrierwave for the <code>User</code> model</li>
  <ul>
    <li>Create an uploader to handle profile pictures for users</li>
    <li>Add an <code>avatar</code> column to the <code>users</code> table</li>
  </ul>

  <li>Add a <code>avatar</code> form input in the "Edit User" page</li>  
  <li>Configure Devise strong parameters to accept <code>avatar</code> as a paramter</li>
</ul>