<p>
  In this course, <strong>you will learn how to use AJAX to create an elegant user experience, how to use APIs to communicate with outside services, and how to use JavaScript to render data onto the web page</strong>. Being able to use AJAX is essential in becoming an in-demand developer.
</p>

<p>
  <strong>The first step is to understand what AJAX exactly is.</strong>
</p>

<p>
  AJAX stands for <strong>Asynchronous Javascript and XML</strong>.
</p>

<p>
  <strong>In short, AJAX allows requests to be performed to the server and the parts of the page to be modified without refreshing the page.</strong> With AJAX, you can send <strong>asynchronous</strong> HTTP requests to the server.
</p>  

<p>
  We've used AJAX in Instapost before with the built-in feature that Rails provides, but we haven't yet implementated AJAX calls using JavaScript.
</p>

<p class="standard_git_workflow">
  <strong>Assignment</strong>: Read <%= link_to 'this blog', 'http://rowanmanning.com/posts/javascript-for-beginners-async/', target: "_blank" %> post to understand what asynchronous means.
</p>

<p>
  Next, watch this video until 3:00.
</p>

<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3l13qGLTgNw" frameborder="0" allowfullscreen></iframe>
</div>
