<p>
  Now that we've setup our application, let's start digging into the movie API and see what we can do and how we can use it.
</p>

<p class="standard_git_workflow">
  First, read through the documentation <%= link_to 'here', 'http://www.omdbapi.com/', target: '_blank' %> and get an overview of what the API can do.
</p>

<p>
  Next, watch this video as I walkthrough how to make a simple request to the API.
</p>

<p>
  Right now, we are using the browser to send a GET request to the API. In the next lesson, we are going to look at how to use JavaScript and AJAX to perform a GET request to the API.
</p>