<h2>Tasks</h2>

<ul>
  <li>Add upvoting to reviews</li>
  <li>The number of upvotes for each review should be displayed</li>
  <li>Use AJAX for a pleasant user experience</li>
</ul>

<p> 
  Submit your Github repository and link to your Heroku application.
</p>  

<% @submission_form = true %>