<p>
  Congratulations! You've come a far way since when you first started learning Ruby and Ruby on Rails. You now more advanced concepts of web development that you can apply to any language or framework you choose to work with.
</p>

<p>
  You are now ready to enter a team of developers to develop larger applications for more people. By now, you should have the confidence to start tackling more advanced concepts and problems. 
</p>

<p>
  Give yourself a high five and a pat on the back for coming this far.
</p>

<p>
  Submit your Github repository and a link to your Heroku application.
</p>

<% @submission_form = true %>
