<p>
  We covered a lot of material in the last few lessons. Let's practice the material once again by building a similar feature - upvoting. You are going to follow similar steps as you did when you were building the follow feature to accomplish this.
</p>

<h2>Tasks</h2>

<ul>
  <li><strong>Do not use any gems to enable upvoting functionality</strong></li>
  <li>Add upvoting to reviews</li>
  <li>The number of upvotes for each review should be displayed</li>
  <li>Use AJAX for a pleasant user experience</li>
</ul>

<p> 
  Submit your Github repository and link to your Heroku application.
</p>  

<% @submission_form = true %>