<p>
  Now that we've built the basic framework for the user interface, let's take it a step deeper and introduce some slick UI.
</p>

<p>
  You might have noticed already, but the size of the movie poster images differ, which leads to the user interface being inconsistent.
</p>

<p>
  What we can do in these situations is implement a UI similar to <%= link_to 'Pinterest', 'https://www.pinterest.com/', target: '_blank' %>. To accomplish this, we can use the <%= link_to 'Masonry plugin', 'http://masonry.desandro.com/', target: '_blank' %>.
</p>

<p class="standard_git_workflow">
  Read through the documentation to understand what the plugin can do and how we can use it.
</p>

<h2>Tasks</h2>

<ul>
  <li>Import the Masonry plugin using a CDN</li>
  <li>You'll also need to import the imagesLoaded plugin</li>
  <li>Apply the Masonry plugin to the movie elements that are rendered on the root page</li>
</ul>

<p>
  For this task, you'll encounter several bugs as you go along. Try to Google for solutions, as the bugs you encounter were probably encountered by other developers in the past as well.
</p>

<p>
  Being able to read the documentation of a plugin and being able to use it yourself is an essential as a developer. Good luck!
</p>

<p>Submit your Github repository and link to your Heroku application.</p>

<% @submission_form = true %>









