<h2>Tasks</h2>

<ul>
  <li>Setup Devise</li> 
  <li>Create a Devise <code>User</code> model and add a <code>users</code> table</li>
  <li>Add a <code>introduction</code> and <code>username</code> column to the <code>users</code> table</li>
  <ul>
    <li>Each <code>username</code> should be unique</li>
    <li>You can enforce uniqueness in the database level by adding the <code>unique: true</code> option</li>
<pre><code class="ruby">
# inside migration file
t.string :username, unique: true
</code></pre>
    <li>You should also validate that the <code>username</code> is unique in the <code>User</code> model</li>

  </ul>
  <li>Validate the presence of <code>username</code></li>
  
  <li>Setup Devise views</li>
  <ul>
    <li>Generate Devise views (see documentation)</li>
    <li>Setup strong paramters for Devise</li>
    <li>Add <code>username</code> field to sign up form</li>
    <li>Add <code>username</code> and <code>introduction</code> field to "Edit User" form</li>
    <li>Make sure the forms work and the attributes are saved into the database correctly (if they are not, check that your strong parameters are setup correctly)</li>
  </ul>
</ul>