<h2>What we are building</h2>

<p>
  We are going to build a movie reviewing platform where users can search for their favorite movies, review them, and view reviews by other users as well.
</p>

<p>
  Go to <%= link_to 'this link', 'http://filmster-techrise.herokuapp.com/', target: '_blank' %> to see the basic functionality of the application.
</p>


<h2>Create a new Rails app</h2>
<p>
  To create the application, run the following command:
</p>

<pre><code class="ruby">
rails new filmster --database=postgresql --skip-turbolinks
</code></pre>

<p>
  <strong>There a few things that you have probably never seen before. </strong>
</p>

<p>
  <strong>Turbolinks makes our Rails applications quick and snappy.</strong> However, it introduces some difficulties when using JavaScript. A lot of developers are against using turbolinks in their applications because it causes a lot of unnecessary tradeoffs that make turbolinks not worth the hassle. In our app, we aren't going to need turbolinks since we are going to render a lot of things using Javascript, so let's turn it off. We can disable it with the <code>--skip-turbolinks</code> option.
</p>

<p class="standard_git_workflow">
  Watch <%= link_to 'this', 'http://railscasts.com/episodes/390-turbolinks', target: '_blank' %> episode of Railscast for an overview of what Turbolinks is, the problems it introduces, and how to overcome them.
</p>

<h2>Disabling Generators</h2>

<p>
  You might have noticed in Ideator and Instapost that <strong>everytime we generate a new model or controller, a bunch of files are generated automatically, including CSS, JavaScript, and helper files that we don't need.</strong>
</p>

<p>
  A lot of times, these CSS and JavaScript files indeed do stay unused, and we end up having to delete them. <strong>However, we can disable the generation of these files by default.</strong>
</p>

<p>
  Open your <code>application.rb</code> file and add the following lines of code inside of the <code>Application</code> class.
</p>

<pre><code class="ruby">
config.generators do |g|
  g.helper false
  g.assets false
end
</code></pre>

<p>
  This piece of code will disable the automatic generation of these files that are usually unnecessary.
</p>

<h2>Tasks</h2>

<ul>
  <li>Setup the database (refer back to previous courses on how to do this)</li>
</ul>



