<p>
  The last step is to design your web page. Make it look attractive and make it easy to use.
</p>

<h2>Tasks</h2>
<ul>
  <li>Design the web page - design matters a lot!</li>
  <li>Use SCSS to write cleaner CSS</li>
  <li>Look at other websites for inspiration</li>
</ul>
