<p>
  As a developer, you will hear the term <strong>JSON</strong> a lot, especially when dealing with Javascript and APIs.
</p>

<p>
  JSON stands for <strong>Javascript Object Notation</strong>. It's a <strong><em>light weight data format</em></strong> for exchanging/transfering data.
</p>

<p>
  Here is an example of JSON:
</p>

<pre><code class="json">
{
   "firstName": "John",
   "lastName": "Smith",
   "address": {
       "streetAddress": "21 2nd Street",
       "city": "New York",
       "state": "NY",
       "postalCode": 10021
   },
   "phoneNumbers": [
       "212 555-1234",
       "646 555-4567"
   ]
}
</code></pre>

<p>
  As you can see, it's like a Ruby hash - <strong>JSON consists of keys and values</strong>.
</p>

<p>
  Long ago, developers used to use XML to exchange data, but since the arrival of JSON, developers have migrated to using JSON because it is much more lightweight.
</p>

<p>
  In short, JSON is used because:
</p>

<ul>
  <li>It is compact and fast</li>
  <li>It is easy to read and write</li>
</ul>

<p>
  In the next lesson, we will talk about what APIs exactly are and how AJAX and JSON play a role.
</p>  