<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>New question! <%= link_to 'Access the question here.', question_url(@question.id) %></p>
  </body>

  </html>