<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You've got a new reply on one of your submissions!
    </p>
  	<p>View it <%= link_to 'here!', submission_url(@submission) %></p>

    <p>
      Happy coding!
    </p>
    <p>
      -TECHRISE Team
    </p>
  </body>

  </html>