<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>New reply at <%= forum_comment_url(@forum, @post) %></p>
  </body>

  </html>