<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>New submission <%= link_to 'here', submission_url(@submission.id) %>!</p>
  </body>

  </html>