<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>New question at <%= forum_comments_url(forum_id: @forum, id: @post) %></p>
  </body>

  </html>