<h1>Hi <%= @user.name %>, your pre-work period has finished.</h1>

<p>
  If you have already finished and submitted all of your pre-work assignments, <strong>you have or will be receiving an email from TECHRISE regarding the next steps.</strong>
</p>

<p>
  For those who were not able to complete the pre-work assignments, we are sorry to say that we will not be able to admit you into TECHRISE at this time.
</p>

<p> 
  We constantly update our <a href="https://www.facebook.com/techrisenepal/" target="_blank">Facebook page</a>, so make sure to check back for more offers in the future.
</p>

<p>
  Thank you for participating in the TECHRISE pre-work!
</p>

<p>Happy coding,</p>

<p>
  - TECHRISE Team
</p>