<% if @days >= 1 %>
  <h1>You have <%= @days %> days left to complete the pre-work assignments!</h1>
<% else %>
  <h1>Today is your final day to finish the pre-work assignments!</h1>
<% end %>

<p>
  To be admitted into TECHRISE, you must complete the pre-work assignments. This is to ensure that <strong>all of our students are motivated and determined to learn.</strong>
</p>

<p>
  If you need any help, <strong>TECHRISE Mentors</strong> will be there to support you. Ask questions on the forum anytime to get help on finishing the pre-work assignements.
</p>

<p>
  You have until <strong><%= @user.prework_end_date.strftime("%m/%d/%Y %l:%M %p") %></strong> to complete the assignments.
</p>  

<p>
  Good luck!
</p>

<p>
  Happy coding,
</p>

<p>
  - TECHRISE Team
</p>