<h1><%= title_for(HtmlCssLesson, 3, 9) %></h1>

<p>
  This is your final step! We've made a great website, <strong>now let's host it online.</strong>
</p>

<p>
  <strong>This is going to be your first challenge.</strong> We give these challenges so that you <strong>learn to figure things out by yourselves</strong>. We've emphasized the importance of googling. Utilize your newfound googling abilities to figure out how to host the website so that you can share it with your friends!
</p>

<p class="alert alert-success">
Hint: A good question to ask google might be something like <strong>"How to host a static website"</strong>
</p>

<div class="well">
  <h3>Hosting on Github Pages</h3>

  <p> 
    A great way to host your website for free is by using Github Pages. One of our graduates Lakshman has created a wonderful tutorial on how to do this.
  </p>

  <p>
    Check it out <%= link_to 'here', "https://lakshman.me/web-hosting/2016/07/06/how-to-host-a-website-in-github.html" %>!
  </p>
</div>

<p>
  Once you've figured it out, <span style="color:red;">submit a link to your website below in the submissions section to get your code reviewed! :)</span>
</p>

<br>

<br class = "clear">

<% @submission_form = true %>