

<p>
  Congratulations on finishing the pre-work assignments!
</p>  

<p>
  Once you are admitted into TECHRISE, <strong>the difficulty of lessons will increase dramatically.</strong> You will be asking more and more questions to your mentor and to your fellow students, and <strong>you will be learning at a much quicker speed.</strong>
</p>  

<h3>Next Steps</h3>

<p>
  We will next schedule an interview session to see if TECHRISE is right for you. During your interview, if you have any questions or concerns, please let us know.
</p>

<p> 
  We only accept motivated students to join TECHRISE. This is to build and maintain a positive and active community.
</p>

<p>
  If you are admitted into TECHRISE, you will accomplish the following:
</p>

<ul>
  <li>Build multiple <strong>fully featured web applications</strong> with Ruby on Rails</li>
  <li>Learn complex topics such as <strong>Test Driven Development</strong></li>
  <li>Learn through <strong>Personal 1 on 1 Mentor Sessions</strong></li>
  <li>Learn about the concepts you don't understand at <strong>Office Hours</strong></li>
  <li>Engage with an <strong>active online community</strong> where you can ask questions any time</li>
  <li>Become a <strong>skilled problem solving web developer</strong></li>
</ul>

<p>
  Congratulations on coming this far!
</p>

<h1>To get started with the interview process, <strong>submit a screenshot of your resume web page below, with the title "I'm ready!"</strong>.</h1>


<% @submission_form = true %>
