<h1><%= title_for(HtmlCssLesson, 2, 1) %></h1>

<p>
	Now that you understand the fundamentals of HTML and CSS, let's jump right into installing and using an actual web development environment.
</p>

<p>
	Coding in an actual web development environment will be completely different from doing tutorial lessons online. You're going to be making more mistakes and you're going to encounter bugs and problems in your code more often. This is okay though, since this is also what happens in the real world.
</p>

<p>
  Let's go ahead and install 2 essential tools that are essential for web developers.
</p>

<h3>Sublime Text Editor</h3>
<p>
  There are lots of text editors, but we're going to recommend that you use Sublime for now. Sublime is a great text editor that makes code easier to read with features like syntax highlighting, indentation, multiple line editing, and many more super useful features.
</p>

<p>
  Just to get in the habit of Googling, let's go ahead to our web browser and search for "sublime text editor". Let's click the first thing that comes up and try to find a "Download" button. For me, there is a button that says "Download for OS X" for "Version 2.0.2". This is what I want.
</p>

<p>
  After I download the package, I simply install it. How this is done depends on what machine you are using, but this shouldn't be complicated. If you run into troubles with downloading it, Google the problem you are having and you will find your answers. <strong>Getting into the habit of Googling things is essential to solving problems.</strong> Throughout the lessons, we'll make sure that finding answers through Google becomes a habit.
</p>

<h3>Google Chrome</h3>
<p>
  The next thing you need to download is Google Chrome. Google Chrome is an awesome web browser that comes with Google Developer Tools. Google Developer Tools enables you to do things like typing in JavaScript code and seeing if it works, changing HTML or CSS code inside the browser, and other things that we can use for developing our website.
</p>

<p>
  Again, if you don't have this installed already, let's go to our web browser and search for "google chrome" and find a download link. This should be pretty simple. Again, if you aren't able to find the download link, let's think of a good question to ask Google. In this case it would be something like "how to download google chrome".
</p>

<h3>GitHub</h3>
<p>
  The last thing we want to do is to create a GitHub account. Let's go to the GitHub home page (you know how to find this now) and let's find a button to sign up. For me, I see a light green button that says "Sign up for GitHub". That's what we want. Once we're all signed up, let's log in to our account. In the following lessons, we'll walk you through how to use GitHub, so don't worry about trying to figure out how to use it just yet.
</p>

<hr>

<p>
  Cool! That's all we need for now.
</p>

<p>
	We believe in exposing you to building actual websites as early as possible instead of spending a lot of time learning the syntax of programming langauges. That's because by building things as early as possible, you'll have more fun and will be motivated to learn more.
</p>

<p>
  In the next lesson, we're going to be building a simple one page personal resume website with HTML and CSS using these web development tools. So let's go ahead and build our first real website.
</p>


<br>

<br class = "clear">





