<p>
  For your first intro to HTML and CSS, we are going to use Dash Assembly's HTML and CSS course. Once you have learned the basics of HTML and CSS through these exercises, <strong>you will build two real projects that you can start using immediately.</strong>
</p>

<h2>Instructions</h2>

<ul>
  <li>Go to <a href = "https://dash.generalassemb.ly" target = "_blank">this link</a> to get started! You'll need to sign up for an account.</li>
  <li>Finish <strong>Project 1 ~ 2</strong></li>
  <li><strong>You don't have to finish Project 3, 4, and 5</strong></li>  
  <li>Upload a screenshot <%= link_to 'here', 'https://postimage.org/', target: '_blank' %> and submit the link to the screenshot down below</li>
  <li>There is no need to submit the code for each of the projects</li>
  <li>Go to next lesson while you wait for our feedback</li>
</ul>


<% @submission_form = true %>
