<h1><%= title_for(HtmlCssLesson, 1, 1) %></h1>

<p>
	Before you get started on the pre-work assignments, here are a few quick guidelines for you to learn the maximum amount:
</p>

<ul>
	<li><strong>Don't copy and paste</strong> - it is always better to actually type the code yourself. <strong>Msucle memory</strong> is really important when learning how to code!</li>
	<li><strong>Ask Questions</strong> - whenever something doesn't make sense to you, first google, then ask for help! We are always here to help out.</li>
	<li><strong>Don't be frustrated</strong> - some of these lessons might be difficult for you, but don't be frustrated, it's part of learning and it is important to relax and keep on going.</li>
</ul>

<p>
  <strong>Don't worry about memorizing all of the syntax</strong>, that will come with time and experience. <em>If you forget the syntax, you can always just Google it.</em>
</p>


