<h1><%= title_for(HtmlCssLesson, 4, 1) %></h1>

<p>
  Congratulations everyone on coming this far! You've accomplished so much in such a short period of time. Within two weeks, you have:
</p>

<ul>
  <li>Learned the basics of HTML/CSS</li>
  <li>Learned Twitter Bootstrap</li>
  <li>Built multiple web pages</li>
  <li>Built your own personal resume page</li>
</ul>

<p>
   This is a lot of things in two weeks, and we are super excited!
</p>

<p>
  The sections after this is going to be more challenging, and it takes a lot of effort to go through the lessons. We are confident that you will be able to succeed in our curriculum, since you have proven to be able to complete the tasks.
</p>

<p>
  Since you have finished all of the assignments, you will be invited for interviews over the next couple of weeks. We are looking for motivated students who will be able to keep on learning!
</p>

<p>
  <strong>We will be emailing you about the next steps over the next couple of weeks.</strong> If you are admitted into TECHRISE, you will have access to many things including:
</p>

<ul>
  <li>1 on 1 Mentor Sessions</li>
  <li>Office Hours</li>
  <li>An online community where you can ask questions any time</li>
</ul>

<p>
  Congratulations on coming this far and we hope to see you soon!
</p>


<% @submissions = false %>
