<p>
  Congratulations on finishing all of the HTML/CSS projects!
</p>  

<p>
  <strong>Here's what you have accomplished:</strong>
</p>

<ol>
  <li>Built multiple HTML/CSS projects and learned about the basics of HTML and CSS</li>
  <li>Created a simple resume page</li>
  <li>Created a professional portfolio page</li>
</ol>

<p>
  In the next section, you'll be learning the basics of <strong>Ruby</strong>. Ruby is a language used for one of the most web development frameworks - Ruby on Rails. Not only will you learn the programming language, <strong>you'll learn the basic programming concepts that can be applied to any language.</strong> You'll also learn about <strong>Object Oriented Programming</strong>. 
</p>

<p>
  <strong>In the end, you'll solve multiple coding challenges, some of which are used in real interviews, to test your knowledge on Ruby.</strong>
</p>

<p>
  Good luck and Happy Coding!
</p>