<div class = "lesson_nav_box text-center">
	<p>
  	Understand the gist? Cool, let's move on.
	</p>
	<%= link_to 'Previous Lesson', ideator_lessons_path(@prev_lesson), class: 'btn btn-warning btn-lg' if @prev_lesson > 0 %>
	<%= link_to 'Next Lesson', ideator_lessons_path(@next_lesson), class: 'btn btn-success btn-lg' if @next_lesson %>
</div>