<h1><%= title_for(InstapostLesson, 9, 5) %></h1>

<p>
  Whew! Congratulations! You've made it this far! You started from scratch and now you have a fully functional web app that has the same functionality as the billion dollar company Instagram!
</p>

<p>
  By now, you probably understand many of the basic Rails concepts. <strong>The important thing is to keep on coding and to keep on learning.</strong> The fun thing about software engineering is that there is always something more to learn!
</p>

<p>
  With that being said, here are some final tasks that you can do to make your site even more professional looking! Do tackle the tasks labeled "Easy", but don't bother trying the tasks labeled higher than "Easy" if you don't feel like it, they are pretty big tasks!
</p>

<ul>
  <li>Easy: Change the site title to: "Share Your Photos Online - Instapost"</li>
  <li>Easy: Add a Favicon</li>
  <li>Easy: Make adjustments to how the site looks</li>
  <li>Intermediate - Advanced: Scroll to Load More Photos</li>
  <li>Intermediate - Advanced: Follow Users Feature</li>
</ul>

<p>
  You've worked so hard! I'm really excited to how far you have come from day 1 of starting your coding journey!
</p>

<p>
  Once you have finished the tasks labeled Easy, submit your application below to have your code reviewed! Congratulations!
</p>

<% @submission_form = true %>