<h1><%= title_for(InstapostLesson, 4, 2) %></h1>

<p>
  We've got carrierwave set up, but we need to do one more thing for it to work live on heroku.
</p>

<p>
  We need to configure Carrierwave so that it uses Amazon's S3 service and stores the files there instead of in Heroku.
</p>

<p>
  <%= link_to 'this blog post', 'http://blog.thefirehoseproject.com/posts/switching-carrierwave-to-use-s3-with-heroku-and-localhost/' %> walks you through each of the steps in depth. Follow each of the steps and make sure you don't skip anything!
</p>