<h1><%= title_for(InstapostLesson, 6, 6) %></h1>

<p>
  In this lesson, you will try to display all of the comments for each post above the form. You can do this with a simple loop. Try to do this yourself and see how far you get!
</p>

<div class="well">
<h3>What you need to do:</h3>
<ul>
  <li>Display the name of the user that posted the comment</li>
  <li>Display the comment text</li>
</ul>
</div>

<p>
  Good luck!
</p>