<h1><%= title_for(InstapostLesson, 2, 1) %></h1>

<p>
  For this app, we could draw out wireframes, but since we're cloning Instagram, we don't really need to draw one out. However, in a real-life situation, we would start out with drawing mockups and specifying what everything should do.
</p>


<h3>Optional Assignment</h3>
<p>
  If you have time, you can practice drawing mockups by creating mockups without looking at anything, and then compare it to the actual website. By doing this, you can see where you missed some functionality or where you miswrote a specification.
</p>

