<h1><%= title_for(InstapostLesson, 6, 2) %></h1>

<p>
  In the last lesson, we ran database migrations for the <code>Comment</code> object. Let's now set up the <strong>database relations</strong> between the <code>Comment</code> model, the <code>User</code> model, and the <code>Post</code> model.
</p>

<p>
  This time, it's your turn! You've done this before, so let's see if you can do this on your own :)
</p>

<div class="well">
  <h3>Hints</h3>

  <p>
    Think about the database columns that we added in the previous lessons. Think about why we added those in. You should be able to figure out what kind of relationships you need to set up :) If you need help, refer back to <%= link_to 'this lesson', '/instapost_lessons/14' %> for some guidance.
  </p>  
</div>

<p>
  Good luck! :)
</p>