

<p>
  Are you ready for your next app? We're going to whiz right through and teach you how to build a more complete app than before!
</p>

<p>
  Together, we're going to build a clone of <strong>Instagram</strong>, which is now a billion dollar company. But you too, can make an app that is just like it!
</p>


<p>
  First, let's login to C9 and create a new workspace.
</p>

<h2>Setting Up Your Cloud9 Environment</h2>

<p>
  Installing Ruby on Rails, Ruby, git, and everything else takes so much time and it can be extremely frustrating. We don't want you to get stuck on this part - we'd rather have you start coding immediately :) That's why we provide Cloud9 accounts for all of our students, so that any student can start coding right away.
</p>

<p class="alert alert-success">
  You should have gotten an invitation from the TECHRISE team by now, but if you haven't please contact us at contact@techrise.me.
</p>

<p>
  Once you've signed up for Cloud9, then you can create a workspace:
</p>

<%= image_tag 'ideator/c9_dashboard.png', class: 'screenshot' %>  

<p>
  Click on "Create New Workspace". This will take you to a new page where you can fill out information about your new project.
</p>

<p>
  Enter "Instapost" as the project name, and choose the Ruby template as shown below:
</p>

<%= image_tag 'ideator/c9_new_project.png', class: 'screenshot' %>

<p>
  Finally, click the "Create Workspace" button. Just like that, your Rails environment has been created!
</p>


<p>
  First, let's open up our terminal.
</p>

<p>
  For every new Rails application, we have to create our initial database. In the terminal enter the following commands:
</p>

<pre><code class="bash">
rake db:create:all
rake db:migrate
</code></pre>

<p>
  Now let’s fire up our rails server by entering this command in the terminal window.
</p>

<pre><code class="bash">
rails s -b $IP -p $PORT
</code></pre>

<p>
  Give it a few seconds to load. You can start the application by clicking the Preview button:
</p>

<%= image_tag 'ideator/c9_start_server.png', class: 'screenshot' %>

<p>
  You should see a nice welcome page from Ruby on Rails.
</p>

<%= image_tag 'ideator/welcome_page.png', class: 'img-responsive screenshot', style: 'margin-bottom: 30px' %>



<p>
  Awesome! We're all set!
</p>


