

<p>Now that we've created our wireframes, let's start installing the tools we need to get our web application up and running.</p>

<p>
  The first thing that will come in handy is bootstrap. We've already covered how to install it, so this time, let's see if you can install it yourself.
</p>

<div class="well">
  <h3>HINT: If you're stuck, google "rails bootstrap gem" :)</h3>

  <p>
    If you need help, refer back to <a href="/ideator_lessons/5" target="_blank">this lesson</a>.
  </p>
</div>

<p>
  After you've got bootstrap installed, make sure to push everything to GitHub as always.
</p>

<pre><code class="bash">
git add .
</code></pre>


<pre><code class="bash">
git commit -am “Add bootstrap”
</code></pre>

<pre><code class="bash">
git push origin master
</code></pre>


