<div class = "lesson_nav_box text-center">
	<p>
  	Understand the gist? Cool, let's move on.
	</p>
	<%= link_to 'Previous Lesson', intro_lesson_path(@prev_lesson), class: 'btn btn-warning btn-lg' %>
	<%= link_to 'Next Lesson', intro_lesson_path(@next_lesson), class: 'btn btn-success btn-lg' %>
</div>