<h1><%= title_for(CollaborationLesson, 2, 2) %></h1>

<p>
  Many people are commonly confused with the difference between Scrum and Agile.
</p>

<p>
  In short, <strong>Scrum</strong> is a subset of Agile.
</p>

<p>
  Here is the Scrum framework in 30 seconds:
</p>

<blockquote>
A product owner creates a prioritized wish list called a product backlog.<br>
During sprint planning, the team pulls a small chunk from the top of that wish list, a sprint backlog, and decides how to implement those pieces.<br>
The team has a certain amount of time — a sprint (usually two to four weeks) — to complete its work, but it meets each day to assess its progress (daily Scrum).<br>
Along the way, the ScrumMaster keeps the team focused on its goal.<br>
At the end of the sprint, the work should be potentially shippable: ready to hand to a customer, put on a store shelf, or show to a stakeholder.<br>
The sprint ends with a sprint review and retrospective.<br>
As the next sprint begins, the team chooses another chunk of the product backlog and begins working again.<br>
<small>https://www.scrumalliance.org/why-scrum</small>
</blockquote>

<p>
  Many teams practicing scrums have daily standup meetings.
</p>

<h3>Stand Up Meetings</h3>

<p>
  Every day, teams meet usually at the beginning of the day to conduct a short <strong>stand up</strong> meeting. Stand up meetings are short, concise meetings where each team member communicates the following topics, usually under 30 seconds.
</p>

<ul>  
  <li><strong>What they've been working on</strong></li> 
  <li><strong>What they're going to work on</strong></li>
  <li><strong>Anything they're stuck on</strong></li>
</ul>

<p>
  Following the stand up meeting, team members will immediately help each other out on the things that they are stuck on.
</p> 

<h3>Sprints</h3> 

<p>
  In Scrum, work is done in <strong>sprints</strong> or <strong>iteration</strong>. Sprints and iterations are short cycles of work, typically one week to two weeks.
</p>  

<p>
  In each sprint, the team creates a potentially shippable product increment. What this means is that <strong>instead of focusing on trying to create a huge feature all at once, scrum teams focus on developing the essential features in incremental steps.</strong>
</p>

<p>
  <strong>This enables the product owners to focus on prioritizing the most essential features and developers to focus on short term goals. It also provides the customer with frequent updates and view of the progress.</strong>
</p>

<h3>Retrospectives</h3>

<p>
  After each sprint, the team will engage in a retrospective, where the team will reflect on how things went, and what they'd like to change.
</p>













