<h1><%= title_for(CollaborationLesson, 3, 4) %></h1>

<p>
  In software teams that work with agile or scrum, you will work a lot with continuous integration (CI). In short, continuous integration is a development practice that requires developers to push code to the repository several times a day. After they push their code, an automated build will verify whether of not the code being pushes doesn't have any problems.
</p>

<p>
  The main reason for utilizing continuous integration is so that teams can detect problems earlier and solve them faster.
</p>

<div class="well">
  <h3>Required Reading</h3>
  <p>
    <a href="https://www.thoughtworks.com/continuous-integration" target="_blank">https://www.thoughtworks.com/continuous-integration</a>
  </p>
</div>

