<h1><%= title_for(CollaborationLesson, 3, 5) %></h1> 

<p>
  Pair programming is an exercise done by many software teams.
</p>

<p>
  Usually, <strong>pair programming is done by having one person who writes the code, and another person who instructs the person writing the code what to code.</strong> In other words, one person is the one driving the car, and the other person is the one navigating the driver where to go.
</p>

<p>
  Pair programming has many benefits.
</p>

<ul>
  <li><strong>Increased discipline</strong> - when there is something else watching you code, you are more likely to write proper code.</li>
  <li><strong>Better code</strong> - when you pair program, you will have two people thinking about how to design the code. This often times leads to better code.</li>
  <li><strong>Faster learning</strong> - especially for less experienced developers, working with a more senior developer will lead to rapid learning. Some say pair programming with a senior developer is the fastest way to learn.</li>
</ul>

<p>
  When working with a team, reach out to your team members and offer to pair program. Pair programming can be fun and you will find it more productive than writing code on your own.
</p>