

<p>
  Now that you've learned the fundamentals of web development, <strong>it's time to get started with developing applications with a team.</strong>
</p>  

<p>
  When you're working with a team of developers, your skill set that you can provide is valuable, but also the communication skills will make a big difference on what kind of impact you can make.
</p>

