

<p>
  Let's get started.
</p>

<p>
  Let's make a new project folder. Create a new folder in <code>/Documents</code> called <code>landing_page</code>. We are going save all of our files for this project in this folder.
</p>

<p>
  Let's then open up Sublime and open a new file (Shortcut: <code>Command + N</code> for Mac, <code>Control + N</code> for Windows). Save this file as <code>index.html</code> inside the <code>landing_page</code> folder we just created.
</p>

<p>
  Now that we've saved this file as an HTML file, we can go ahead and start writing HTML code in here. Let's start off by adding our standard HTML tags.
</p>

<pre><code class="erb">
&lt;html&gt;
&lt;head&gt;

&lt;/head&gt;

&lt;body&gt;

&lt;/body&gt;


&lt;/html&gt;

</code></pre>

<p>
	Let's add an <code>h1</code> to our body and add the text <code>Hello</code> to see if this actually works. Make your <code>index.html</code> look like this:
</p> 

<pre><code class="erb">
&lt;html&gt;
&lt;head&gt;

&lt;/head&gt;

&lt;body&gt;
  &lt;h1&gt;Hello&lt;/h1&gt;
&lt;/body&gt;


&lt;/html&gt;

</code></pre>

<ol>
  <li>Save the file</li>
  <li>Right click inside Sublime Text</li>
  <li>Click "Open in Browser"</li>
  <li>Check that the page displays "Hello"</li>
</ol>

<h3>Adding Bootstrap</h3>

<p>
  Now we're going to get to the fun part. Let's add some bootstrap to our page. 
</p>

<ol>
  <li>Search for "bootstrap" on Google</li>
  <li>Go to the first search result</li>
  <li>Go to the "Getting Started" page</li>
</ol>

<p>
  If we scroll down on this page, the first thing it says is something about a Bootstrap CDN.
</p>

<h3>What is a CDN?</h3>

<p>
  <strong>CDN stands for Content Delivery Network, and it basically provides developers with a bunch of files without having to download them into your computer or server.</strong> Instead of manually downloading Bootstrap's CSS and JavaScript files and adding them into our site, <strong>we can simply just copy and paste this little code that they have for us</strong>, and we'd have access to the Bootstrap CSS/JavaScript files.
</p>

<p>
  Let's go ahead and add the Bootstrap CDN files into our head section of our HTML.
</p>

<pre><code class="erb">
&lt;html&gt;
&lt;head&gt;
  &lt;!-- Latest compiled and minified CSS --&gt;
  &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"&gt;
  &lt;!-- Latest compiled and minified JavaScript --&gt;
  &lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"&gt;&lt;/script&gt;
&lt;/head&gt;

&lt;body&gt;
  &lt;h1&gt;Hello&lt;/h1&gt;
&lt;/body&gt;


&lt;/html&gt;

</code></pre>

<p>
	Now let's refresh the page and see what happens. Just like that, you should see the font of your "Hello" change to something much nicer. The font should have changed like this:
</p>

<div class = "row screenshot_min">

	<div class = "col-xs-6">
		<%= image_tag 'hellowithoutbootstrap.png' %>
	</div>
	<div class = "col-xs-6">
		<%= image_tag 'hellowithbootstrap.png' %>
	</div>

</div>

<p>
  Awesome! You've installed Bootstrap onto your website. Let's see what else we can do with Bootstrap in the upcoming lessons.
</p>

<br>

<br class = "clear">





