<h1><%= title_for(BootstrapLesson, 1, 1) %></h1>

<p>
  In this lesson, you will be learning the fundamentals of Twitter Bootstrap.
</p>

<p>
  We're going to be making a mock landing page that's going to look good without us being designers. We're going to accomplish that using <strong>Twitter Bootstrap</strong>.
</p>

<p>
  <strong>Bootstrap is a front end framework that allows developers who don't know anything at all about design, to create websites that look good easily.</strong>
</p>

<p>
  In order to see how Bootstrap works, let's go ahead and start building a website.
</p>





