<h1><%= title_for(IntroLesson, 1, 4) %></h1>

<p>
	<strong>Web developers are people who create dynamic web applications to solve problems and provide solutions.</strong>
</p>

<p>
	Web developers can take an idea and figure out an elegant solution for users on the web. <strong>In a time where everything is on the web, web developers are extremely in demand across the world.</strong>
</p>

<p>
  It's an exciting time to be a web developer because of this high demand. Writing code can be a lot of fun and learning how to develop web applications is an extremely worthwhile investment.
</p>  

<div class="well">

  <h3>Front End Development</h3>

  <p> 
    <strong>Front-end development</strong> refers to programming work that is related to creating the user interface and the user experience. Front-end developers typically write code with HTML, CSS, and JavaScript. <strong>The job of front-end developers is to build a nice looking design as well as build a user experience that is pleasant for the user.</strong>
  </p>

  <%= create_flashcard %>

  <h3>Back End Development</h3>

  <p>
    <strong>Back-end development</strong> refers to programming work that is related to database logic and the server. There are several frameworks that allow you to develop the back-end, such as Ruby on Rails and Node.js. <strong>The main job of back-end developers is to ensure that the server handles the data passed in correctly.</strong>
  </p>


  <%= create_flashcard %>

  <p>
    Ruby on Rails allows developers to develop both the front-end and back-end. <strong>At TECHRISE, you will learn how to build web applications with pretty interfaces as well as complex server-side logic.</strong>
  </p>  
</div>

<h3>Getting Started</h3>

<p>
  The first step in becoming a web developer is learning HTML and CSS. During the prework period, you will learn the basics of HTML and CSS to prepare for developing web applications in Ruby on Rails.
</p>






