<h1><%= title_for(IntroLesson, 1, 3) %></h1>

<p>
	The answer is - it depends. But we think that Ruby is a great first language. The reason why is because <strong>after you learn one programming language, it's easier to learn another one.</strong> Overcoming the initial step in learning your first programming language is the key to getting started in coding.
</p>

<p>
	But when you try to start out with a difficult language like C or C++ or something like that (like in some computer science classes), it gets pretty confusing pretty easily. If the initial barrier is what results in most people giving up on coding, <strong>we believe that teaching a more intuitive language is the way to go.</strong> Kind of following what we're trying to convey? Good.
</p>

<p>
	So why is Ruby awesome? Well, all you need to know at this stage is that <strong>Ruby was created to be a "programmer friendly" language.</strong> Basically, it takes out the pain of many programming languages to make the programmer's life easier.
</p>

<p>
	It's also the language for the popular web framework <strong>Ruby on Rails</strong>. A <strong>web framework</strong> is different from a programming language.
</p>

<p>
  <strong>A web framework is a library or a collection of code that makes a coder's life easier when building web applications.</strong>
</p>

<p>
  <strong>A programming language is just a language, like English or Spanish.</strong> A web framework uses a programming language to create a collection of code that other coders can use to create web applications much easier.
</p>

<%= create_flashcard %>

<p><strong>Which framework should I learn?</strong></p>

<p>
  As a beginner with no coding experience, we highly recommend learning <strong>Ruby on Rails</strong> and we guide you along that process at Techrise. Again with web frameworks as well, once you learn one framework, you can learn the next one quicker and more easily. Here's why we think Ruby on Rails is awesome.
</p>

<ol>
	<li>It's beginner friendly - you'll be making dynamic apps super quick!</li>
	<li>Rails allows developers to develop super productively</li>
	<li>Makes coder's lives easier - just by typing in a few commands, Rails can generate a lot of files that do some super useful stuff</li>
  <li>Lots of startups use Ruby on Rails - it's in demand!</li>
  <li>Ruby on Rails has an awesome thriving community</li>
  <li>Lots of online support - many tutorials and friendly people</li>
</ol>

<p>
  Are you convinced that Ruby and Ruby on Rails is the way to go for you? Awesome, let's keep on going.
</p>

<h1>Quiz Time!</h1>

<%= render partial: '/shared/quizzes', locals: { question: 'Why is Ruby a good first programming language?', answer: "It's a beginner friendly language and increases the chances of beginners to stick with learning how to code.", number: 1 } %>

<%= render partial: '/shared/quizzes', locals: { question: 'Why is Ruby on Rails a good first web framework to learn?', answer: "It's beginner friendly, it's in demand, and lot's of awesome people are in the community :)", number: 2 } %>

<br class = "clear">


