<div class="step-container">
  <span class="step-number">3</span> Next Steps
</div>

<div class="next-steps-container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p>Congratulations on your first step in enrolling in <strong>TECHRISE Core Immersive</strong>!</p>
      <p>
        In order to be admitted as a full time student, you must first complete a set of simple HTML/CSS pre-work assignments. <strong>The pre-work will expire in 4 days after you activate it</strong>, but it should not take more than a couple hours.
      </p>

      <p>
        <strong>The purpose of the pre-work assignments is to test your motivation - not your knowledge on programming. There is absolutely no need for prior experience to complete these assignments.</strong>
      </p>

      <p>
        After the pre-work you will be called in for an interview.
      </p>

      <p>
        Looking forward to seeing you soon!<br>
        Sincerely,<br>
        <strong>TECHRISE Team</strong>
      </p>  
    </div>

    <div class="col-xs-12 col-md-5 col-md-push-1">
      <%= image_tag 'details/desk.png' %>
    </div>

  </div><!-- row -->

  <hr>

  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <%= link_to 'Log in and Start Your Prework Assignments', new_user_session_path, class: 'btn btn-block btn-cta btn-cta-primary' %>
  </div>
</div><!-- next-steps-container -->