<div class="apply-header">
  <h1>Enroll in a TECHRISE Program</h1>
</div>


<div class="step-container">
  <span class="step-number">1</span> Choose a Program
</div>

<%= render partial: 'program', locals: { sub_title: "Online Remote Training | 8 Weeks", title: "TECHRISE Core Remote", 
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
        detail_link: "", apply_link: apply_remote_path } %>

<%= render partial: 'program', locals: { sub_title: "Onsite Immersive Training | 8 Weeks", title: "TECHRISE Core Immersive", 
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
        detail_link: "", apply_link: "" } %>