<div class="step-container">
  <span class="step-number">3</span> Next Steps
</div>

<div class="next-steps-container">
  <div class="row">
    <div class="col-xs-12 col-md-7">
      <p>
        Congratulations on your first step to becoming a web developer!
      </p>

      <p>
        We are extremely excited for you to be get onboard and start learning with us.
      </p>

      <p>
        Over the next couple of weeks you will be exploring the world of web development. <strong>Do not worry if there are things that are confusing or you don’t understand - your mentor and the TECHRISE community will be there to help you.</strong>
      </p>

      <p>
        <strong>To get started immediately, please bring the 3,000 NPR tuition fee directly to the office during our hours (1pm ~ 5pm, Mon ~Fri). After the payment has been completed, we will unlock the courses and start the onboarding process.</strong>
      </p>

      <p>
        In the meanwhile, <strong>please confirm your email address</strong>. A confirmation email has been sent to your email address.
      </p>

      <p>
        Looking forward to seeing you soon!<br>
        Sincerely,<br>
        <strong>TECHRISE Team</strong>
      </p>  
    </div>

    <div class="col-xs-12 col-md-4 col-md-push-1">
      <%= image_tag 'details/money.png' %>
    </div>

  </div><!-- row -->
</div>