<div class="step-container">
  Next Steps
</div>

<div class="next-steps-container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p>Get ready to dive into the world of web development! Confirm your email address and click the button below to get started:</p>

      <%= link_to 'Start Introduction to Software Engineering Course', new_user_session_path, class: 'btn btn-block btn-cta btn-cta-primary' %>
    </div>

    <div class="col-xs-12 col-md-5 col-md-push-1">
      <%= image_tag 'details/desk.png' %>
    </div>

  </div><!-- row -->
</div><!-- next-steps-container -->