<% if @current_lesson_approved_submissions.count == 0 %>
  <h5 class="text-center">No submissions have been made for this assignment yet.</h5>
<% else %>
  <h5 class="text-center" style="line-height: 2 !important;"><%= pluralize @current_lesson_approved_submissions.count, "student" %> including
    <% @current_lesson_approved_submissions.each do |submission| %>
      <label class="label label-default" style="margin: 0px 2px;"><%= submission.user_name %></label>
    <% end %>
    have passed this assignment.
  </h5>
<% end %>