<h5><%= pluralize @submissions.count, "student" %> including
  <% @submission_user_ids.each do |i| %>
    <label class="label label-default"><%= User.find(i).name %></label>
  <% end %>
  have passed this assignment.
</h5>