<!--
  this CSS is necessary for proper padding for syntax highlighting.
  The syntax highlighting format for the lesson files are slightly differently
  because of indentation etc. 
  In short, don't remove this unless necessary 
-->
<style type="text/css">
.hljs {
  padding: 20px !important;
}
</style>
<!-- end -->

<%= back_to_lesson %>

<div class="devise_box forum_container">

  <%= render "shared/flash_messages" %>

  <%= react_component 'Submissions', {authenticity_token: form_authenticity_token,
                                    submission: @submission, 
                                    content: markdown(@submission.content),
                                    user_avatar_url: @submission.user_avatar.url, 
                                    user_is_mentor: current_user.mentor,
                                    user_name: @submission.user_name,
                                    display_post_links: current_user == @submission.user || current_user.admin,
                                    replies: @replies } %>

</div>
