<h1><%= title_for(CommandLineLesson, 1, 1) %></h1>

<p>
  Congratulations on finishing Ruby Fundamentals!
</p>

<p>
  As we get ready to build out our rails application, we need to learn how to use the command line. Using the command line effectively will enable us to develop our web applications much more efficiently.
</p>

<h3>Assignment</h3>
<ul>
  <li>Go to <%= link_to 'this link', 'https://www.codecademy.com/learn/learn-the-command-line' %></li>
  <li>Finish All Lessons That Aren't Labeled Pro</li>
  <li>Paste a screenshot of your Codecademy screen to show that you have completed all of the lessons</li>
</ul>

<% @submission_form = true %>