<h1><%= title_for(CommandLineLesson, 2, 1) %></h1>

<p>
  This lesson is completely optional! For the most part, you will be using the commands we introduced in the last lesson a lot of the times. There are other commands that are great to know as well.
</p>

<p>
  If you have a lot of time on your hands or want to become a command line ninja, then go ahead and complete this assignment.
</p>

<h3>Assignment</h3>
<ul>
  <li>This lesson is <strong>optional</strong></li>
  <li>Go to <%= link_to 'this link', 'https://www.codecademy.com/learn/learn-the-command-line' %></li>
  <li>Finish All Lessons That Aren't Labeled Pro</li>
  <li>Paste a screenshot of your Codecademy screen to show that you have completed all of the lessons</li>
</ul>

<% @submission_form = true %>