

<p>
  Let's wrap this section up by doing a quick overview of Git.
</p>

<p>
  Go to <%= link_to 'this link', 'http://rogerdudler.github.io/git-guide/' %> and read through the whole thing. You should be familiar with most of these terms by now. If you don't store it in a flashcard!
</p>

<p>
  Remember, if you don't keep feeding your brain information repeatedly, you'll forget it. Make sure to make flashcards for your new knowledge :)
</p>

<%= create_flashcard %>

