

<p>
  Next up: Try Git. You'll start practicing your Git skills that you learned in the previous lesson.
</p>

<p>
  Go to <%= link_to 'this link', 'https://try.github.io' %> and finish all of the lessons! Make sure you read through each of the steps, instead of trying to finish it quickly! Don't worry if there are terms you don't really understand. Take some time to really understand it, create flashcards, and try to digest it.
</p>

<p>
  Remember, if you don't keep feeding your brain information repeatedly, you'll forget it. Make sure to make flashcards for your new knowledge :)
</p>

