

<p>
  In the next few lessons, you'll master the basics of Git so that you can start managing your projects and engage in team projects. I've compiled a set of resources to be finished in the order. You'll go over the same material a couple of times so that it really sinks into your brain.
</p>

<p>
  The first lesson is <%= link_to 'Git Real', 'http://gitreal.codeschool.com/levels/1' %>. It's a video giving an awesome introduction to Git. Don't worry about doing the whole lesson, just do the first lesson.
</p>

<p>
  Remember, if you don't keep feeding your brain information repeatedly, you'll forget it. Make sure to make flashcards for your new knowledge :)
</p>

<%= create_flashcard %>