<h1><%= title_for(GithubLesson, 2, 1) %></h1>

<p>
  If you want to go deeper into how you can use Git, there are many wonderful resources on the internet to help you do that.
</p>

<p>
  One of the best is <%= link_to 'this site', 'https://git-scm.com/book/en/v2/' %>. It goes super in-depth about Git and is really informative. On the other hand, you don't need to know all of this at this current stage.
</p>

<p>
  This is absolutely optional material, so you can skip this part and come back to it later when you feel the need to learn it.
</p>


