<div class="row">
  <div class="col-xs-2">
    <%= image_tag activity.owner.avatar, class: 'profile-pic-activity-log' %>
  </div>
  <div class="col-xs-10">
    <div class="row">
      <div class="col-xs-12">
        <p class="message-title-activity-log">
          <strong><%= activity.owner.name %> completed a flashcard</strong>
        </p>

        <p class="message-time-activity-log">
          <%= time_ago_in_words(activity.created_at) %> ago
        </p> 
      </div>
    </div>
  </div>
</div>
