<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-body">
        <center>
          <b><h1>404 error</h1></b>
          <%= image_tag 'oops.png' %>

          <h3>Sorry, the page you were looking for doesn't exist :( </h3>
        </center>
      </div>
    </div>
  </div>
</div>