<h1>HTML/CSS</h1>

<div class = "row">

	<% @lessons.each do |chapter| %>
		
		<div class = "col-xs-12 col-md-4">

			<h4 class = "underlined-header"><%= chapter[0] %></h4>
			<ul class = "unindented_ul">

			<% chapter[1].each do |lesson| %>
				<li><%= link_to "Lesson #{lesson[0]} - #{lesson[1]}", html_css_lesson_path(lesson[0]) %></li>
			<% end %>

		</div>
		
	<% end %>

</div>