<p>
  Now that we've added and styled the navbar, let's add a footer. What we want is a footer that sticks to the bottom of the screen no matter how much content you have. Sometimes when a website has no content, the footer will float above the bottom of the screen. What we want is a <i>sticky</i> footer. We're going to try and find a way to accomplish this.
</p>

<p>
  If we run a google search for "bootstrap sticky footer", we can find a StackOverflow post that talks about the this issue <a href = "http://stackoverflow.com/a/19758234/5456016" target = "_blank">here</a>. What we're going to do is use information contained in this post, use the solutions, and make it look nice. Let's copy the code below into our <code>master.scss</code> (Note that the footer height is changed to be <code>45px</code> instead of <code>60px</code> as it is shown in the StackOverflow post).
</p>

<pre><code class="css">
/* Styles go here */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -45px;
  /* Pad bottom by footer height */
  padding: 0 0 45px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 45px;
}
</code></pre>

<p>
  Notice the comments mention that the <code>margin</code> and <code>padding</code> of <code>#wrap</code> is determined by the <code>height</code> of the footer. That means that if we change the <code>height</code> of the <code>.footer</code>, our code will break.
</p>

<p>
  In order to prevent this, let's put the <code>footer</code> height into a SCSS variable.
</p>

<p>
  On the top of <code>master.scss</code>, let's add a new variable:
</p>

<pre><code class="css">
$footer-height: 45px;  
</code></pre>

<p>
  Then after that, let's replace <code>45px</code> with <code>$footer-height</code>.
</p>

<pre><code class="css">
/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -$footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height;
}


.footer {
  height: $footer-height;
}
</code></pre>

<p>
  Then what we're going to do is wrap all of our content in a <code>div</code> with an <code>id</code> of <code>wrap</code> in <code>application.html.erb</code>. So right before the code for the navbar begins (right after the opening <code>body</code> tag and right before the opening nav), let's add <code>&lt;div id = "wrap"&gt;</code> and close the <code>div</code> right before the closing <code>body</code> tag.
</p>

<p>
  Right after the closing <code>div</code> that we just inserted, let's add a footer. Make the file look like this:
</p>

<pre><code class="erb">
  &lt;!-- HTML code above --&gt;

  &lt;div id = "wrap"&gt;
    &lt;div class="navbar-header"&gt;
      &lt;button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"&gt;
        &lt;span class="sr-only"&gt;Toggle navigation&lt;/span&gt;
        &lt;span class="icon-bar"&gt;&lt;/span&gt;
        &lt;span class="icon-bar"&gt;&lt;/span&gt;
        &lt;span class="icon-bar"&gt;&lt;/span&gt;
      &lt;/button&gt;
      &lt;a class="navbar-brand" href="/"&gt;Ideator&lt;/a&gt;
    &lt;/div&gt;&lt;!-- navbar-header --&gt;

    &lt;%= yield %&gt;
    
  &lt;/div&gt;&lt;!-- wrap --&gt;

  &lt;div class="footer text-center"&gt;
    &lt;p&gt;&copy; TECHRISE &lt;%= Date.today.year %&gt; All Rights Reserved&lt;/p&gt;    
  &lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>
  Make sure to put the footer code right <strong>before</strong> the closing <code>body</code> tag and also right after the closing div tag for the <code>&lt;div id = "wrap"&gt;</code>.
</p>

<p class="alert alert-info">
  Often times we need to display the current year in the footer. Instead of hardcoding the year, we can display the year with <code>&lt;%= Date.today.year %&gt;</code>.
</p>

<p>
  Also, let's wrap the <code>&lt;%= yield &gt;</code> block in a <code>container</code> div. In order to use the bootstrap grid system correctly, we need to wrap our content in a <code>container</code> or <code>container-fluid</code> div. Read more about this <%= link_to 'here', ' http://getbootstrap.com/css/#overview-container' %>.
</p>  

<pre><code class="erb">
&lt;!-- HTML code above --&gt;
  &lt;div class = "container"&gt;
    &lt;%= yield %&gt;
  &lt;/div&gt;
&lt;!-- HTML code below --&gt;
</code></pre>

<p>
  Your <code>application.html.erb</code> file should now look something like this:
</p>

<pre><code class="erb">
  &lt;!-- HTML code above --&gt;

  &lt;div id = "wrap"&gt;
    &lt;div class="navbar-header"&gt;
      &lt;button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"&gt;
        &lt;span class="sr-only"&gt;Toggle navigation&lt;/span&gt;
        &lt;span class="icon-bar"&gt;&lt;/span&gt;
        &lt;span class="icon-bar"&gt;&lt;/span&gt;
        &lt;span class="icon-bar"&gt;&lt;/span&gt;
      &lt;/button&gt;
      &lt;a class="navbar-brand" href="/"&gt;Ideator&lt;/a&gt;
    &lt;/div&gt;&lt;!-- navbar-header --&gt;

    &lt;div class = "container"&gt;
      &lt;%= yield %&gt;
    &lt;/div&gt;
    
  &lt;/div&gt;&lt;!-- wrap --&gt;

  &lt;div class="footer text-center"&gt;
    &lt;p&gt;&copy; TECHRISE &lt;%= Date.today.year %&gt; All Rights Reserved&lt;/p&gt;    
  &lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>
  Now that we've set up the footer and nav, let's move these components into <em>partials</em>.
</p>

<h3>Partials</h3>

<p>
  <strong><em>Partials</em></strong> are reusable <code>HTML</code> elements that can be embedded into different view files.
</p>

<p>
  Partials can be created by making a new file that starts with <code>_</code>. 
</p>

<p>
  In our <code>app/views</code> directory, let's create a new folder called <code>shared</code>. We are going to place all of our files that are going to be shared in different places in this directory.
</p>

<%= image_tag 'ideator/new_file.png', class: 'screenshot-min img-responsive' %>

<p>
  Inside our <code>shared</code> folder, let's create a new file called <code>_nav.html.erb</code>. <Strong>Make sure the file name starts with an underscore.</Strong> This is necessary for Rails to recognize the file as a partial.
</p>

<p>
  Inside our <code>_nav.html.erb</code> file, let's take all of our navigation bar code inside <code>application.html.erb</code> and place it inside this file. Your <code>_nav.html.erb</code> file should now look like this:
</p>

<pre><code class="erb">
&lt;div class="navbar-header"&gt;
    &lt;button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"&gt;
      &lt;span class="sr-only"&gt;Toggle navigation&lt;/span&gt;
      &lt;span class="icon-bar"&gt;&lt;/span&gt;
      &lt;span class="icon-bar"&gt;&lt;/span&gt;
      &lt;span class="icon-bar"&gt;&lt;/span&gt;
    &lt;/button&gt;
    &lt;a class="navbar-brand" href="/"&gt;Ideator&lt;/a&gt;
  &lt;/div&gt;&lt;!-- navbar-header --&gt;
</code></pre>

<p>
  Then, in the <code>application.html.erb</code> file, let's replace the navigation bar code with the following code:
</p>

<pre><code class="erb">
&lt;%= render 'shared/nav' %&gt;
</code></pre>

<p>
  The <code>render</code> method will try to find a partial file (a file that starts with an underscore <code>_</code>) called <code>_nav.html.erb</code> inside of the <code>shared</code> directory. Once it finds the file, it will render the partial.
</p>

<p>
  Your <code>application.html.erb</code> should now look like this:
</p>

<pre><code class="erb">
  &lt;!-- HTML code above --&gt;

  &lt;div id = "wrap"&gt;
    &lt;%= render 'shared/nav' %>

    &lt;div class = "container"&gt;
      &lt;%= yield %&gt;
    &lt;/div&gt;
    
  &lt;/div&gt;&lt;!-- wrap --&gt;

  &lt;div class="footer text-center"&gt;
    &lt;p&gt;&copy; TECHRISE &lt;%= Date.today.year %&gt; All Rights Reserved&lt;/p&gt;    
  &lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>
  Next, let's extract the footer code inside <code>application.html.erb</code> and place it into a partial as well. 
</p>

<h2>Challenge</h2>

<ul>
  <li>Place the footer code inside <code>application.html.erb</code> and place it into a partial</li>
  <li>Replace the footer code and render a partial instead</li>
  <li>Push the changes to Github</li>
  <li>Submit your github repository link below</li>
</ul>

<% @submission_form = true %>





<%= standard_git_workflow %>


