

<p>
  If we look back at our wireframes, we see that we wanted the form to be in a pop up which is triggered when a user presses a button. Implementing this manually would be a pain in the butt, but thankfully we can do this easily by using bootstrap (again).
</p>

<p>
 	We can use bootstrap's <code>modal.js</code> which can be found <a href="http://getbootstrap.com/javascript/#modals" target="_blank">here</a>. Go here and and let's look at some examples.
</p>

<p>
  We see that the <strong>"Live Demo"</strong> in the documentation looks like the kind of thing we want. Like always, let's rip the example code and then modify it to our liking.
</p>

<p>
  Let's go ahead and copy the entire code and then paste it into the very top of <code>index.html.erb</code>.
</p>

<pre><code class="erb">
<!-- Button trigger modal -->
&lt;button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"&gt;
  Launch demo modal
&lt;/button&gt;

<!-- Modal -->
&lt;div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"&gt;
  &lt;div class="modal-dialog" role="document"&gt;
    &lt;div class="modal-content"&gt;
      &lt;div class="modal-header"&gt;
        &lt;button type="button" class="close" data-dismiss="modal" aria-label="Close">&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;/button&gt;
        &lt;h4 class="modal-title" id="myModalLabel">Modal title&lt;/h4&gt;
      &lt;/div&gt;
      &lt;div class="modal-body"&gt;
        ...
      &lt;/div&gt;
      &lt;div class="modal-footer"&gt;
        &lt;button type="button" class="btn btn-default" data-dismiss="modal">Close&lt;/button&gt;
        &lt;button type="button" class="btn btn-primary">Save changes&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<p>
  Now let's configure it so that it works for our purposes. First let's change the button text "Launch demo modal" to something like "Add Idea". Next, let's copy and paste our entire simple form code right inside the <code>&lt;div&gt; class="modal-body"&gt;&lt;div&gt;</code>.
</p>

<pre><code class="erb">
<!-- Button trigger modal -->
&lt;button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"&gt;
  Add Idea
&lt;/button&gt;

<!-- Modal -->
&lt;div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"&gt;
  &lt;div class="modal-dialog" role="document"&gt;
    &lt;div class="modal-content"&gt;
      &lt;div class="modal-header"&gt;
        &lt;button type="button" class="close" data-dismiss="modal" aria-label="Close">&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;/button&gt;
        &lt;h4 class="modal-title" id="myModalLabel">Modal title&lt;/h4&gt;
      &lt;/div&gt;
      &lt;div class="modal-body"&gt;
        &lt;%= simple_form_for Idea.new do |f| %&gt;
          &lt;%= f.input :description %&gt;
          &lt;%= f.input :author %&gt;
          &lt;%= f.submit 'Submit', class: 'btn btn-primary' %&gt;
        &lt;% end %&gt;
      &lt;/div&gt;
      &lt;div class="modal-footer"&gt;
        &lt;button type="button" class="btn btn-default" data-dismiss="modal">Close&lt;/button&gt;
        &lt;button type="button" class="btn btn-primary">Save changes&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<p>
  Save the file and refresh the page.
</p>

<p>
  We can see now that the form has been added, but now we have two buttons, a "Submit" button and a "Save changes" button. We probably want to replace the "Submit" button with the "Save changes button". So let's go ahead and do that.
</p>

<p>
  Copy and paste <code>&lt;%= f.submit 'Submit', class: 'btn btn-primary' %&gt;</code> and replace this code: <code>&lt;button type="button" class="btn btn-primary">Save changes&lt;/button&gt;</code>.
</p>

<pre><code class="erb">
<!-- Button trigger modal -->
&lt;button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"&gt;
  Add Idea
&lt;/button&gt;

<!-- Modal -->
&lt;div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"&gt;
  &lt;div class="modal-dialog" role="document"&gt;
    &lt;div class="modal-content"&gt;
      &lt;div class="modal-header"&gt;
        &lt;button type="button" class="close" data-dismiss="modal" aria-label="Close">&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;/button&gt;
        &lt;h4 class="modal-title" id="myModalLabel">Modal title&lt;/h4&gt;
      &lt;/div&gt;
      &lt;div class="modal-body"&gt;
        &lt;%= simple_form_for Idea.new do |f| %&gt;
          &lt;%= f.input :description %&gt;
          &lt;%= f.input :author %&gt;
          
        &lt;% end %&gt;
      &lt;/div&gt;
      &lt;div class="modal-footer"&gt;
        &lt;button type="button" class="btn btn-default" data-dismiss="modal">Close&lt;/button&gt;
        &lt;%= f.submit 'Submit', class: 'btn btn-primary' %&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<p>
  However, <code>&lt;%= f.submit 'Submit', class: 'btn btn-primary' %&gt;</code> is outside of <code>&lt;%= simple_form_for Idea.new do |f| %&gt;</code> and <code>&lt;% end %&gt;</code>. This will give us an error since we need to write all of our code for the form before the <code>&lt;% end %&gt;</code>. We can fix the code by changing where we put <code>&lt;%= simple_form_for Idea.new do |f| %&gt;</code> and <code>&lt;% end %&gt;</code>.
</p>

<pre><code class="erb">
<!-- Button trigger modal -->
&lt;button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"&gt;
  Add Idea
&lt;/button&gt;

<!-- Modal -->
&lt;div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"&gt;
  &lt;div class="modal-dialog" role="document"&gt;
    &lt;div class="modal-content"&gt;
      &lt;div class="modal-header"&gt;
        &lt;button type="button" class="close" data-dismiss="modal" aria-label="Close">&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;/button&gt;
        &lt;h4 class="modal-title" id="myModalLabel">Modal title&lt;/h4&gt;
      &lt;/div&gt;
      &lt;%= simple_form_for Idea.new do |f| %&gt;
        &lt;div class="modal-body"&gt;
          &lt;%= f.input :description %&gt;
          &lt;%= f.input :author %&gt;
        &lt;/div&gt;      
        &lt;div class="modal-footer"&gt;
          &lt;button type="button" class="btn btn-default" data-dismiss="modal">Close&lt;/button&gt;
          &lt;%= f.submit 'Submit', class: 'btn btn-primary' %&gt;
        &lt;/div&gt;
      &lt;% end %&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<p>
  Now let's refresh the page and see what happens. You should see a perfect modal that is fully functional. This app is starting to look really cool!
</p>

<%= standard_git_workflow %>





