<h1><%= title_for(IdeatorLesson, 2, 1) %></h1>

<p>
	Our app that we are going to develop together called Ideator is going to be an app where anyone can post ideas on to the website and they are automatically updated. It will also have the ability to show random ideas as well. In order to start making this website, we have to start visualizing what we want it to look like.
</p>

<p>
	In every app, we want to create wireframes so we have guidance on how we want the app to look and how we want it to function. The simplest and best way in my opinion is to do it by hand.
</p>

<p>
	So here’s what I did for this app. I took out a piece of paper and just drew up some rough sketches for the app like this:
</p>

<%= image_tag 'ideator_wireframes.jpg', class: 'screenshot' %>

<p>
	As you can see, the wireframes are pretty rough...but it gets the job done! The key is to visualize what features you want on your web application so that it's easier to think through how to build your web application.
</p>

<p>
	Along with these mock ups, I’m going to specify what kind of data I want to store in my database.
</p>

<p>
	This is something you won’t understand right now, but try to understand the gist of it. So in our app, we want the <strong>ability to post ideas</strong>. To save those ideas into the app, <strong>we need to store the information in a database</strong>.
</p>

<p>
	Let’s think about what pieces of information we want to store for this app. We want one piece of information which would be a <strong>description</strong> of what the idea is, and another which would be the <strong>author</strong> of the idea.
</p>

<p>
	So each idea will have two pieces of information attached to it, a <code>description</code> and an <code>author</code>. 
</p>

<p>
	Drawing this out will become useful later on. Let’s just keep this in mind for now and move on.
</p>



