<h1><%= title_for(IdeatorLesson, 4, 3) %></h1>

<p>
  Our <code>index</code> page looks pretty ugly right now. Let's make this look a little bit nicer.
</p>

<p>
  We're going to be using bootstrap again. Let's go to the bootstrap website again and look for panels. <a href = "http://getbootstrap.com/components/#panels" target = "_blank">This link</a> should take you to the right place in case you couldn't find it. What we're going to do is use these panels to display our ideas.
</p>

<p>
  If we look at the bootstrap website, we see that there is a <strong>Basic example</strong> for the bootstrap panels. It looks like something we could use, so let's copy and paste this code at the top of <code>index.html.erb</code>.
</p>

<pre><code class="erb">
&lt;div class="panel panel-default"&gt;
  &lt;div class="panel-body"&gt;
    Basic panel example
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<p>
  Save the file and refresh the page. You'll see that one panel is now implemented, but there's no content inside of it. What we want to do is create a new panel for each of our ideas. We can do this by using an <code>each</code> loop to iterate through each idea in <code>@ideas</code>.Make your <code>index.html.erb</code> look like this:
</p>

<pre><code class="erb">
&lt;% @ideas.each do |idea| %&gt;
  &lt;div class="panel panel-default"&gt;
    &lt;div class="panel-body"&gt;
      &lt;blockquote&gt;
        &lt;p&gt;&lt;%= idea.description %&gt;&lt;/p&gt;
        &lt;small&gt;by &lt;%= idea.author %&gt;&lt;/small&gt;
      &lt;/blockquote&gt; 
    &lt;/div&gt;
  &lt;/div&gt;
&lt;% end %&gt;
</code></pre>

<p>
  Save the file and refresh the page. You should now see that each of the ideas have their own panel, this is pretty cool! 
</p>

<p>
  Let's go back into the browser and refresh the page. Awesome! You should now see each idea wrapped around in a panel.
</p>

<%= standard_git_workflow %>
