<h1><%= title_for(IdeatorLesson, 1, 1) %></h1>

<p>
	Download Tokaido <a href = "https://github.com/tokaido/tokaidoapp/releases" target = "_blank">Here</a>
</p>
<p>
	Download Postgre <a href = "http://postgresapp.com/" target = "_blank">Here</a>
</p>

<p>
	Open Postgre and keep it running. Let’s then open Tokaido and click Open Terminal.
</p>

<p>
	In the terminal, let’s navigate to our desktop.
</p>


<code>cd ~/desktop</code>

<p>
	This is where we’ll create our ideator app. In the terminal that we just opened up, let’s type in the following command.
</p>


<code>
	rails new ideator --database=postgresql
</code>

<p>
	This command magically creates a new rails application using the postgresql database. Awesome!
</p>

<p>
	It should create a bunch of files and you shouldn’t get any errors. If you do, make sure that everything is spelled out correctly.
</p>


<p>
	Great, now that we’ve created our new rails app, let’s start this baby up. Let’s go into Tokaido and open up another terminal window and let’s navigate to our project folder.
</p>

<code>cd ~/desktop/ideator</code>

<p>
	First we have to create our initial database. In the console enter
</p>

<code>rake db:create:all</code><br>
<code>rake db:migrate</code><br>

<p>
	Now let’s fire up our rails server by entering this command.
</p>

<code>rails server</code>

<p>
	Give it a few seconds to load. Now go into your browser and go to
</p>

<code>http://localhost:3000/</code>

<p>
	You should see a nice welcome page from Ruby on Rails.
</p>

<p>
	If you don’t see this, make sure you navigated to your project folder.
</p>

<p>
  Awesome! You're one step closer to finishing your first rails app!
</p>

<br class = "clear">

<%= render 'lesson_nav_section' %>

<%= render partial: '/comments/for_lesson', locals: { name: 'IdeatorLessons', lesson: params[:id]} %>
