<h1><%= title_for(IdeatorLesson, 1, 2) %></h1>

<p>
	Now that we’ve set up our project, let’s also set up GitHub so that we can save our project online and go back to previous versions when we want to.
</p>

<p>
	First we have to set up our SSH keys. Follow <a href = "https://help.github.com/articles/generating-ssh-keys/" target = "_blank">this guide</a> to do so. <strong>Follow each step in the guide from "Checking for existing SSH keys" to "Testing your SSH connection".</strong>
</p>

<p>After you've completed everything in that link, <strong>open up a second terminal window</strong>. You should now have 2 terminal windows open. One terminal window should be running the rails server.</p>

<div class="well">
  <h3>Having Two Terminal Windows Open</h3>
  <p>
    We want to have two terminal windows open. This is because we want <strong>one for running the server and one for typing in rails commands</strong>.
  </p> 

  <p>
    You can create a new terminal window in C9 like this:
  </p>

  <%= image_tag 'ideator/new_terminal_window.png', class: 'img-responsive screenshot' %>

  <p>
    One terminal will look like this, where you can type in commmands:
  </p>

  <%= image_tag 'ideator/terminal_window.png', class: 'img-responsive screenshot' %>

  <p>
    We also need another terminal window for running the server:
  </p>  

  <%= image_tag 'ideator/server_window.png', class: 'img-responsive screenshot' %>

  <p>
    You'll notice that the terminal window that is running the server will not respond to anything that you type in. <strong>You can only execute commands in terminal windows that doesn't have a server running on it (the terminal window in the first screenshot).</strong>
  </p>
</div>

<p>
  In the terminal window for running commands, let's run the following command:
</p>

<pre><code class="bash">
git init .
</code></pre>

<p>
  It should give you a message like this in the terminal:
</p>

<pre><code class="bash">
Initialized empty Git repository in /home/ubuntu/workspace/.git/
</code></pre>

<p>
  Next, let's run the following commands:
</p>

<pre><code class="bash">
git add .
</code></pre>

<pre><code class="bash">
git commit -am “Initial commit”
</code></pre>

<p>
	Now let’s go into GitHub’s front page and create a new repository. On the left hand side, you should see a <strong>green button called “+ New repository”</strong>. Click on that button and just fill in the box that says <strong>“Repository name”</strong>.
</p>

<p class="alert alert-warning">
	<strong>Make sure you don’t check “Initialize this repository with a README”.</strong>
</p>

<p>
	Now click <strong>Create repository</strong>. 
</p>

<p>
	On the next page, go to the sections that says <strong>“…or push an existing repository from the command line”</strong>.
</p>

<p>
	Copy the code right beneath that and paste it into your terminal. It should look something like this:
</p>

<pre><code class="bash">
git remote add origin git@github.com:YourGithubUsername/ideator.git
</code></pre>

<pre><code class="bash">
git push -u origin master
</code></pre>

<p class="alert alert-danger">
  Make sure you replace <code>git@github.com:YourGithubUsername/ideator.git</code> with your username.
</p>

<p>
  When you run this command, it might ask you for your username and password. If it does, then enter your Github username and Github password. 
</p>

<p>
  Once you are done with this process, let's make sure that everything is set up correctly. In your terminal, run the following command:
</p>

<pre><code class="bash">
git remote -v
</code></pre>

<p>
  In your terminal window, the following lines should be outputted:
</p>

<pre><code class="bash">
origin  git@github.com:YourGithubUsername/ideator.git (fetch)
origin  git@github.com:YourGithubUsername/ideator.git (push)
</code></pre>

<p>
  If nothing is outputted, then chances are you missed a step. Try following every step carefully and make sure not to make typos.
</p>

<p>
	You’re all set! Your GitHub is set up and ready to go!
</p>



