<p>
  You're almost done! The final step is to tweak the front end to make the app look amazing.
</p>

<p>
  One thing we could improve is how the ideas are being displayed. Right now, the width of the panels are too wide.
</p>

<p>
  We can fix this by wrapping the content in bootstrap columns. In <code>application.html.erb</code>, change the code around <code>&lt;%= yield %&gt;</code> to look like this:
</p>  

<pre><code class="erb">
&lt;!-- HTML code above --&gt;
  &lt;div class = "container"&gt;
    &lt;div class = "row"&gt;
      &lt;div class = "col-xs-12 col-md-6 col-md-offset-3"&gt;
        &lt;%= yield %&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;!-- HTML code below --&gt;
</code></pre>

<p>
  Here, we have set the width of the content to <code>12</code> when the screen is small, and to <code>6</code> when the screen is larger than medium sized. 
</p>  

<p>
  If we refresh the page, our application looks much cleaner!
</p>

<p>
  The rest of this lesson is going to be a <strong>self guided lesson</strong>. Make the app look exactly how you want it!
</p>

<p>
  Here are a few tips:
</p>

<ul>
<li>Play around with <code>font-weight</code></li>
<li>Play around with <code>letter-spacing</code></li>
<li>Play around with <code>font-size</code></li>
<li>Play around with the <code>background-color</code> of <code>.panel_body</code></li>
</ul>

<p>
  Spend some time to really try to customize your app to look like how you think it should look. Doing things yourself is where you'll learn the most. <strong>Google Chrome's Developer Tools</strong> will become super handy! Review how you can use developer tools to test out new looks for your app.
</p>


<%= standard_git_workflow %>