<h1><%= title_for(IdeatorLesson, 3, 2) %></h1>

<p>
	This is going to be your first self directed lesson. <strong>The purpose of these lessons is so that you actually start learning how to implement things on your own based on what you’ve learned throughout these lessons.</strong>
</p>

<p>
	In this self directed lesson, <strong>the goal is to implement a navbar using bootstrap</strong> according to our wireframe that we drew up before.
</p>

<p>
	What we want is a brand name on the left and 3 links aligned to the right.
</p>

<p>
  Take a look at the completed app <a href="http://techrise-ideator.herokuapp.com/" target="_blank">here</a> for reference. Don't worry about actually implementing the links, just leave the URLs as blank (&lt;a&gt; href = "" &lt;/a&gt;). Also don't worry about the styling as we'll get to that in the next lesson. Just focus on implementing the bootstrap navbar into your web app for now.
</p>

<p>
	If you need a hint, refer to <a href="/html_css/7" target="_blank">Lesson 7 of the HTML/CSS course</a>.
</p>

<p>
	Best of luck! I know you’ll get through this! :)
</p>



<script>
$( '#HideHighFive' ).click(function() {
	$( '#HideHighFive' ).hide();
	$( " #HighFive " ).show();
  $( " #HighFive " ).hide( "puff", {percent:500}, 2000 );
  $( '#HideHighFive' ).delay(2000).show(0);
});
</script>

