<h1><%= title_for(IdeatorLesson, 7, 1) %></h1>

<p>
  The first thing we are going to add on to our app is <strong>pagination</strong>. Basically the gist is, when we display all of our ideas on the index page, when we have 100 ideas on there, users have to scroll forever to get to the footer. Instead, we probably want to divide them into seperate pages, or paginate them.
</p>

<p>
  Luckily, rails provides a gem for this that makes this super easy. We're going to be using a gem called <code>will_paginate</code>.
</p>

<p>
  Go to the documentation page <a href="https://github.com/mislav/will_paginate" target="_blank">here</a>. We're going to be following the instructions from here.
</p>

<p>
  The first thing they tell us to do is to add this line in the Gemfile:
</p>

<pre><code>gem 'will_paginate', '~> 3.0.6'</code></pre>

<p>
  Let's go ahead and add that into your Gemfile, then run <code>bundle install</code> to install it. After we do that, what should we do?
</p>

<%= render partial: '/shared/quizzes', locals: { question: 'Show me the answer!', answer: "Restart the server", number: 1 } %>

<br class="clear">

<p>
  Now if we look at the documentation under "Basic will_paginate use", it looks like implementing this is pretty simple.
</p>

<p>
  Basically, we can just stick <code>.paginate(:page => params[:page], :per_page => 30)</code> after <code>@idea = Idea.all</code> and it would work perfectly. We can also adjust the <code>:per_page</code> to let's say 10, and it would only display 10 ideas per page. Your code should now look like this:
</p>

<pre><code class="ruby">
@ideas = Idea.all.paginate(:page => params[:page], :per_page => 10)
</code></pre>

<p>
  While we're at it, right now if you add an idea, it isn't displayed at the top. We should make it so that the newest ideas are displayed first. We can do this by ordering it by the time it was created at. We can do that like this:
</p>

<pre><code class="ruby">
@ideas = Idea.order("created_at DESC").paginate(:page => params[:page], :per_page => 10)
</code></pre>

<p>
  Awesome, now let's go back into the documentation. It also tells us how to render the page links in the view. Let's go ahead and add that in to our views. Go into <code>index.html.erb</code> and add this in to the very bottom of the page:
</p>

<pre><code class="html">
&lt;%= will_paginate @ideas %&gt;
</code></pre>

<p>
  Let's hop back into our browser and go to the home page to see if this actually worked.
</p>

<p>
  You might notice that nothing shows up. This is probably because you don't have 10 ideas in the database right now. You can either add 10 ideas, or change the <code>:per_page</code> in your <code>ideas_controller.rb</code> to something smaller to something like 3.
</p>

<p>
  Once you do that, it should be fully working. Now we just want to center the page links to the middle, since it's just flushed to left right now. We can do this by using bootstrap's <code>text-center</code> class.
</p>

<pre><code class="html">
&lt;div class = "text-center"&gt;
  &lt;%= will_paginate @ideas %&gt;
&lt;/div&gt;
</code></pre>

<p>
  Refresh the page and you should see that the page links are now centered. Cool!
</p>


