<h1><%= title_for(IdeatorLesson, 7, 3) %></h1>

<p>
  Congratulations! You've completed your first Ruby on Rails application! You've successfully created an app from scratch and you kind of understand how these apps are built now.
</p>

<p>
  You should now be pretty comfortable with tweaking HTML and CSS, and you should be starting to get a feel for how to do things in rails.
</p>

<p>
  Don't worry if everything doesn't make sense to you right now. As you progress, everything will start to come together. Right now, the important thing is to celebrate the fact that you've built your first app!
</p>

<p>
  Submit your app down below and share your app with your friends!
</p>
