<div class="row">
  <div class="col-xs-12">
    <h1 class="mentee_title text-center"><span class="back_to_dashboard"><%= link_to '<i class="fa fa-caret-left" aria-hidden="true"></i> Back to Dashboard'.html_safe, dashboard_path, class: 'btn btn-back btn-default' %></span> Mentor Guidelines</h1>
  </div>
</div>

<div class="devise_box">

  <p>
    If you're looking at this page, it means you're a TECHRISE mentor! If you're not, it means we have a bug that we need to fix ;)
  </p>

  <p>
    Being a TECHRISE mentor is a rewarding role - you will students gain new skills and gain the capability to write better and better code. Plus, you'll realize how much you don't know about web development, and it will naturally force you to learn more!
  </p>

  <p>
    At TECHRISE, we only hire people who are passionate about teaching, learning, and inspiring. With that being said, there are certain rules we need to put in to place to make everything work correctly.
  </p>

  <p>
    As a TECHRISE mentor, it is really important that you give <strong>positive feedback</strong> to your students. <strong>Praise your student for progressing forward and praise your student if they are starting to learn on their own.</strong> As a mentor, your job is not only to teach students how to code, but also to <strong>motivate them and inspire them</strong>. Be there for your mentee anytime he/she needs help. <strong>You have the power to change the student’s lives.</strong>
  </p>

  <hr>

  <h3>How to Be a Good Mentor</h3>

  <ul class="guideline-list">
    <li>When asked a question, <strong>greet the student with a smile :)</strong></li>
    <li><strong>Praise the student</strong> for any progress he/she has made and any new things the student has learned.</li>
    <li><strong>Don’t just answer the question</strong> - try to find out where exactly the student is having trouble understanding. Find the root problem.</li>
    <li>Always try to <strong>provide the student with extra resources and extra knowledge</strong> (by providing links to useful blog posts etc.)</li>
    <li>When you can’t figure something out, ask another mentor for help. Don’t say “I don’t know”, <strong>if you don’t know the answer, research it, study it, and grow as a developer.</strong></li>
    <li><strong>Always learn something new everyday.</strong> As a mentor, you are expected to have a lot of knowledge. If doesn’t make sense to tell students to learn everyday if the one telling so, isn’t doing so. </li>
  </ul>

  <h3>Mentor Rules</h3>

  <ul class="guideline-list">
    <li>Mentors will not only be mentoring their students, but will also be the point of contact for their students (holidays, absences, leaves, etc.) </li>
    <li>The mentors will be in charge of the overall growth of the student - not just in technical skills, but in other soft aspects as well, such as time management skills, self-motivation management, etc.</li>
    <li>Make sure that the student is no more than 30 mins late for the mentor sessions.</li>
    <ul>
      <li><strong>1st time late</strong>: friendly reminder</li>
      <li><strong>2nd time late</strong>: reminder that another time late than the week’s mentor session will be cancelled</li>
      <li><strong>3rd time onwards</strong>: the week’s mentor sessions will be cancelled</li>
    </ul>
    <li>Of course mentors must be on time too! After 2 strikes, salary for the day will be lost. </li>
    <li>Make sure that the students are communicating their absences and late notices in advance. </li>
    <li>Communication is essential among mentors too - effectively communicate through meetings and mentor session logs.</li>
    <li>Self-learning - Encourage them to become a self-learner by pointing them into the right direction (not directly giving them answers but by guiding/prompting them) when they encounter errors and bugs. If there are any other things the students are interested in outside the coursework, encourage that. Bring that up during the mentor meetings - we can accommodate the students interest by providing extra resources and holding events/workshops.</li>
  </ul>


  <hr>

  <h3>Tasks</h3>

  <ul class="guideline-list">
    <li>Making sure that you are available for the mentor sessions scheduled for the week (determined by Sunday evening) - In case of emergency and you cannot make it, contact Take</li>
    <li>Engage in mentor sessions, office hours</li>
    <li>Assign homework assignments to students if necessary</li>
    <li>Mentor session logs written immediately after mentor session</li>
    <li>Provide insight and feedback during Mentor Meetings</li>
    <li>Exchange phone numbers with mentee</li>
  </ul>

  <p>
    Help TECHRISE become a better operating team :) Give us feedback on these guidelines and rules, and let us know what works and what isn't working so well. We all have a common goal of teaching people how to code in a fun, new way, so don't worry about giving critical feedback :)
  </p>  

</div>
