<div class="col-xs-12 col-md-4">
  <a class="track">
    <div class="track-number">
      Track <%= track.number %>
    </div>
    <div class="track-title">
      <h3><%= track.title %></h3>
    </div>

    <div class="track-description">
      <p><%= track.description %></p>
    </div>

    <div class="track-timeline">
      <span class="label label-track"><i class="fa fa-clock-o" aria-hidden="true"></i> Week <%= track.timeline %></span>
    </div>

    <div class="track-progression">
      
    </div>
  </a>
</div>