<div class="track">
  <h1><%= track.name %></h1>

  <p><%= track.description %></p>

  <div class="track-icons">

  </div>

  <div class="track-timeline">
    <span class="label label-default"><i class="fa fa-clock-o" aria-hidden="true"></i> Week <%= track.timeline %></span>
  </div>

  <div class="track-progression">
    
  </div>
</div>