<% title("All Courses | TECHRISE") %>

<%= render "shared/flash_messages" %>


<div class="row">
  <div class="col-xs-12">
    <h2 class="course-track-title">Course Tracks</h2>
  </div>

  <% Course::TRACKS.each do |track| %>
    <%= render partial: 'track', locals: {track: track, progress: TrackProgressCalculator.new(user: current_user, track: track).calculate} %>
  <% end %>
  
</div>

