<% title("All Courses | TECHRISE") %>

<%= render "shared/flash_messages" %>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <%= render partial: 'courses/progress', locals: {last_lesson: @last_lesson} %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3 class="course-track-title">Course Tracks</h3>
  </div>

  <% Course::TRACKS.each do |track| %>
    <%= render partial: 'track', locals: {track: track} %>
  <% end %>
  
</div>

