<h1><%= title_for(RubyLesson, 1, 2) %></h1>

<p>
  The first resource that you will go through is <a href="https://www.codecademy.com/learn/ruby" target="_blank">Codecademy's Ruby Tutorials</a>. They do a great job in laying out the fundamentals and providing you with exercises so you can apply them quickly.
</p>

<h3>Assignments:</h3>

<ul>
<li>Create an Account</li>
<li>Finish Unit 1 ~ 7</li>
<li>Finish Unit 9: OBJECT-ORIENTED PROGRAMMING, PART I</li>
</ul>

<h3>Duration: Less than 1 week</h3>

<p>
  Once you've completed these units, take a screenshot of your Codecademy account and submit it down below so that we can make sure you have completed the assignments :)
</p>

<p>
  Happy coding!
</p>

<% @submission = true %>