

<p>
	Welcome to the world of <strong>Object Oriented Programming</strong>.
</p>

<p>
	In these next few lessons, we will give you a basic overview of what object oriented programming is.
</p>

<h3>Objects</h3>

<p>
	Let's think about the bill generator program that we wrote before. When we generate a bill, what are the objects that are involved?
</p>

<ul>
	<li>Orders</li>
	<li>A Bill Calculator that inputs the orders</li>
</ul>

<p>
	<strong>Let's first talk about orders.</strong>
</p>

<p>
	What does an order consist of?
</p>

<p>
	<strong>It consists of...</strong>
</p>
<ul>
	<li>An item</li>
	<li>The price of the item</li>
</ul>

<P>
	An order also might consist of information like when the order was taken, who the order was taken by, and so forth, but for now let's just focus on these two pieces of information: the <em>item</em> of the order and the <em>price</em> of that item.
</P>

<p>
	Let's look at an example:
</p>

<ul>
	<li><strong>Order 1</strong></li>
	<ul>
		<li>Item: Pizza</li>
		<li>Price: 200</li>
	</ul>

	<li><strong>Order 2</strong></li>
	<ul>
		<li>Item: Milk Tea</li>
		<li>Price: 40</li>
	</ul>

	<li><strong>Order 1</strong></li>
	<ul>
		<li>Item: Coffee</li>
		<li>Price: 60</li>
	</ul>
</ul>

<p>
	Here, we see three orders, each with different information. <strong>How can we represent these 3 orders in a consistent and understandable way in code?</strong> We'll explore how we can organize information into <em>classes</em> in the next lesson.
</p>
















