<p>
  Define a method called <code>ordinal</code> that will return the <strong><em>ordinal</em></strong> of a number.
</p>

<p>
  <strong>An Ordinal Number is a number that tells the position of something in a list</strong>. The ordinal of 1 is 1st, 2 is 2nd, 3 is 3rd, 4 is 4th, and so on.
</p>

<p>
  The program should work as such:
</p>

<pre><code class="ruby">
ordinal(1)
=> "1st"

ordinal(2)
=> "2nd"

ordinal(3)
=> "3rd"

ordinal(4)
=> "4th"

ordinal(105)
=> "105th"
</code></pre>

<h3>Getting Started</h3>

<p>
  In your C9 workspace you have created in the previous lesson, let's navigate to the <code>ordinal</code> directory. In the workspace terminal, type in the following command and press enter:
</p>

<pre><code class="bash">
cd ordinal
</code></pre>

<p>
  Next, type in the following command and press enter:
</p>

<pre><code class="bash">
bundle install
</code></pre>


<p>
  This should install a bunch of packages and dependencies.
</p>


<p>
  Next, let's run the following command to run the test suites:
</p>

<pre><code class="ruby">
  rspec</code></pre>

<p>
  Since you haven't written any code yet, you will see that all the tests fail.
</p>

<p>
  Open <code>ordinal.rb</code>. Inside this file, you need to write a method that will return the ordinal of the number that is passed in as an argument.
</p>

<p>
  <strong>Your goal is to make every one of these tests pass.</strong> Once you finish writing the code, run the <code>rspec</code> command. Keep rewriting your code until all of the tests pass when you run the <code>rspec</code> command.
</p>

<p>
  Once all of the tests have passed, submit your code down below.
</p>

<% @submission_form = true %>