<h1><%= title_for(RubyLesson, 1, 3) %></h1>

<p>
  Congratulations on finishing your Ruby Fundamentals lessons!
</p>

<p>
  Now that you have a basic grasp on how Ruby works, let's try to apply it in one of the most common basic interview problems: <strong>The Foobar Problem</strong>. This is a real interview problem that is used to weed out applicants who don't have a good grasp on basic programming, so it's really important that you have the necessary skills to solve this problem.
</p>

<h3>The Foobar Problem</h3>

<ul>
  <li>First, prompt the user "How many numbers do you want to see?"</li>
  <li>Next, start from <code>1</code> up to the number that the user inputed</li>
  <li>For each number, do the following:</li>
  <li>For numbers divisble by <code>3</code>, print out <code>Foo</code></li>
  <li>For numbers divisible by <code>5</code>, print out <code>Bar</code></li>
  <li>For numbers divisible by <code>15</code>, print out <code>FooBar</code></li>
  <li>Otherwise, print the number</li>
</ul>

<p>
  This is how your problem should look when it is executed:
</p>

<pre><code class="bash">
ruby foobar.rb
How many numbers do you want to see? 3
1
2
Foo
</code></pre>

<pre><code class="bash">
ruby foobar.rb
How many numbers do you want to see? 39
1
2
Foo
4
Bar
Foo
7
8
Foo
Bar
11
Foo
13
14
Foobar
16
17
Foo
19
Bar
Foo
22
23
Foo
Bar
26
Foo
28
29
Foobar
31
32
Foo
34
Bar
Foo
37
38
Foo
</code></pre>

<h3>First Steps</h3>
<p>
  First, go into Sublime text and save a file called <code>foobar.rb</code> into <code>~desktop</code>.
</p>

<p>
  Next, let's navigate to your desktop. Go into your terminal and type in the following:
</p>

<pre><code class="bash">
cd ~/desktop
</code></pre>

<p>
  Lastly, to run your ruby file, type in the following in your terminal:
</p>

<pre><code class="bash">
ruby foobar.rb
</code></pre>

<p>
  Press enter. This shouldn't do anything since you haven't wrote any code in the file yet. Now that you've got everything set up, put your ruby code in your <code>foobar.rb</code> file, and when you want to run the file, type in <code>ruby foobar.rb</code>.
</p>

<div class="well">
  <h3>HINTS!</h3>
  <ul>
    <li>When you get the user's input, make sure to convert the input into an <code>integer</code>, or else it will give you an error</li>
    <li>Beware of the <strong>order</strong> that you check if the number is divisible by another number</li>
  </ul>
</div>

<p>
  Good luck on this problem! After you have finished this problem, copy and paste the code in the submissions below!
</p>

<% @submission_form = true %>