<h1><%= title_for(RubyLesson, 1, 4) %></h1>

<p>
  Let's write our first Ruby program!
</p>

<p>
  First, make sure you are in the <code>ruby_fundamentals</code> directory. You can do this by typing <code>pwd</code> (print working directory).
</p>

<p>
  Next, let's make a new file called <code>hello.rb</code>.
</p>

<%= image_tag 'ruby_lessons/hello.png', class: 'screenshot' %>

<p>
  As you can see, you can create a Ruby files by saving the file with a <code>.rb</code> extension.
</p>

<p>
  Inside the file, let's write the following lines of code:
</p>

<pre><code class="ruby">
puts "Hello world"
</code></pre>

<%= image_tag 'ruby_lessons/hello_world.png', class: 'screenshot' %>

<p>
  <code>"Hello world"</code> is a <strong>String</strong> object, otherwise called a <code>string</code>. <strong>Strings are a set of characters, that are declared inside <code>" "</code>s or <code>' '</code>s.</strong>
</p>

<p>
  <code>puts</code> <strong>is a Ruby command that prints out the string with a line break.</strong>
</p>

<p>
  Save the file. In the command line, let's type in the following:
</p>  

<pre><code class="ruby">
ruby hello.rb
</code></pre>

<p>
  You will see that <code>Hello world</code> is printed to the terminal!
</p>

<%= image_tag 'ruby_lessons/print_hello_world.png', class: 'screenshot' %>

<p>
  As you can see above, we can ruby programs with the <code>ruby</code> command.
</p>

<h2>Conclusion</h2>

<ul>
  <li>Ruby files are saved with a <code>.rb</code> extension</li>
  <li><code>puts</code> is a command that prints out a string with a line break</li>
  <li><strong>Strings are a set of characters, that are declared inside <code>" "</code>s or <code>' '</code>s.</strong></li>
  <li>You can run a Ruby program with the <code>ruby</code> command</li>
</ul>





