

<p>
  Congratulations on finishing your Ruby Fundamentals lessons!
</p>

<p>
  Now that you have a basic grasp on how Ruby works, let's try to apply it in one of the most common basic interview problems: <strong>The FizzBuzz Problem</strong>. This is a real interview problem that is used to weed out applicants who don't have a good grasp on basic programming, so it's really important that you have the necessary skills to solve this problem.
</p>

<h3>The FizzBuzz Challenge</h3>

<ul>
  <li>First, prompt the user "How many numbers do you want to see?"</li>
  <li>Next, start from <code>1</code> up to the number that the user inputed</li>
  <li>For each number, do the following:</li>
  <li>For numbers divisble by <code>3</code>, print out <code>Fizz</code></li>
  <li>For numbers divisible by <code>5</code>, print out <code>Buzz</code></li>
  <li>For numbers divisible by <code>15</code>, print out <code>FizzBuzz</code></li>
  <li>Otherwise, print the number</li>
</ul>

<p>
  This is how your problem should look when it is executed:
</p>

<pre><code class="bash">
ruby fizzbuzz.rb
How many numbers do you want to see? 3
1
2
Fizz
</code></pre>

<pre><code class="bash">
ruby fizzbuzz.rb
How many numbers do you want to see? 39
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
</code></pre>

<h3>How to run the code</h3>

<p>
  First, go to <%= link_to 'this website', 'https://repl.it/languages/ruby' %>. Here, you can write ruby code and run the code inside the browser.
</p>

<p>
  Next, write your code in the text editor:
</p>

<%= image_tag 'ruby_lessons/repl_code.png', class: 'img-responsive screenshot', style: 'width: 50%' %>

<p>
  Next, press "run", and check your output.
</p>

<div class="well">
  <h3>HINTS!</h3>
  <ul>
    <li>When you get the user's input, make sure to convert the input into an <code>integer</code>, or else it will give you an error</li>
    <li>Beware of the <strong>order</strong> that you check if the number is divisible by another number</li>
  </ul>
</div>

<p>
  Good luck on this problem! After you have finished this problem, copy and paste the code in the submissions below!
</p>

<% @submission_form = true %>