

<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9 embed_video">
  <iframe src="https://player.vimeo.com/video/174306507" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<p>
  Congratulations! You've completed your first Ruby on Rails application! You've successfully created an app from scratch and you kind of understand how these apps are built now.
</p>

<p>
  You should now be pretty comfortable with tweaking HTML and CSS, and you should be starting to get a feel for how to do things in rails.
</p>

<p>
  Don't worry if everything doesn't make sense to you right now. As you progress, everything will start to come together. Right now, the important thing is to celebrate the fact that you've built your first app!
</p>

<p>
  <strong>Submit your app down below by pasting a link to your GitHub below! Congratulations on your hard work!</strong>
</p>

<h3>Bonus Challenge</h3>

<p>
  If you want to deploy your application live on the internet, you can follow the links below. Try and figure it out! :)
</p>

<ol>
  <li><%= link_to 'https://devcenter.heroku.com/articles/sqlite3#running-rails-on-postgres', 'https://devcenter.heroku.com/articles/sqlite3#running-rails-on-postgres' %></li>
  <li><%= link_to 'https://devcenter.heroku.com/articles/git#creating-a-heroku-remote', 'https://devcenter.heroku.com/articles/git#creating-a-heroku-remote' %></li>
</ol>

<% @submission_form = true %>