<h1><%= title_for(RspecBlogLesson, 5, 3) %></h1>

<p>
  Now that we've written a test for the <code>show</code> action, let's write code so that we can display information of a single <code>Post</code> on the <code>show</code> page.
</p>

<h2>Instructions</h2>

<ul>
  <li>Create an instance variable in the <code>show</code> action and assign it to <code>Post.find(params[:id])</code></li>
  <li>Use the instance variable to display:</li>
  <ul>
    <li>The title of the post</li>
    <li>The author of the post</li>
    <li>The content of the post</li>
  </ul>
</ul>

<%= standard_git_workflow %>