<h1><%= title_for(RspecBlogLesson, 3, 1) %></h1>

<p>
  Next, let's set up the routes for the posts. This should be pretty simple :)
</p>

<h2>Instructions</h2>
<ul>
  <li>Make the homepage (the root page) point to the <code>index</code> action of the <code>Posts</code> controller</li>
  <li>Create CRUD routes for <code>posts</code> (HINT: use <code>resources</code>)</li>
</ul>

<%= standard_git_workflow %>