<h1><%= title_for(RspecBlogLesson, 3, 2) %></h1>

<p>
  This is the final step before entering the world of testing.
</p>

<h2>Instructions</h2>
<ul>
  <li>Set up empty methods in the <code>Posts</code> controller for:</li>
    <ul>
      <li><code>index</code></li>
      <li><code>show</code></li>
      <li><code>new</code></li>
      <li><code>create</code></li>
      <li><code>edit</code></li>
      <li><code>update</code></li>
      <li><code>destroy</code></li>
    </ul>
  <li>There is no need to put anything in these methods, we'll do that in the following lessons :)</li>
</ul>

<%= standard_git_workflow %>