

<p>
  Let's also set up simple form so that we have better forms. Refer back to <%= link_to 'this lesson', '/ideator_lessons/13' %> for help.
</p>

<h2>Instructions</h2>
<ul>
  <li>Install the <code>simple_form</code> gem</li>
  <li>Integrate simple form with bootstrap (<%= link_to 'refer to this link', 'https://github.com/plataformatec/simple_form#bootstrap' %>)</li>
</ul>

<%= standard_git_workflow %>