

<p>
  You'll be building a simple blog application using Ruby on Rails in this course. Since we've done this a couple of times already, it's time for you to start doing all of this yourself! :)
</p>

<p>
  Let's create a rails application called <strong>rspec_blog</strong> (for the other lessons, the rails application was named "twitr" and "instapost").
</p>

<p>
  Refer back to the <%= link_to 'Instapost lesson', '/instapost_lessons/1' %> if you don't know where to start.
</p>

<h2>Instructions</h2>

<ul>
  <li>Create a new Rails application named "rspec_blog"</li>
  <li>Create the initial database</li>
  <li>Start the rails server</li>
  <li>Go to <code>http://localhost:3000/</code> and check if you see a Ruby on Rails welcome page</li>
</ul>

