

<p>
  You're on your own for this lesson too! Your mission is to set up git for your new Rails application! If you are stuck, refer back to this <%= link_to 'Instapost lesson', '/instapost_lessons/2' %>.
</p>

<h2>Instructions</h2>

<ul>
  <li>Initialize a new git repository in your application directory</li>
  <li>Create a new repository at Github.com</li>
  <li>Push up the local repository up to the newly created Github repository</li>
</ul>

<%= standard_git_workflow %>