

<p>
  You've already done this before, so this should be pretty easy :) Refer back to <%= link_to 'this lesson', '/twitr_lessons/5' %> for help.
</p>

<h2>Instructions</h2>
<ul>
  <li>Install Bootstrap</li>
</ul>


<%= standard_git_workflow %>