

<p>
  Phew! Congratulations with writing your first tests! At this point, you are probably still a little bit uncomfortable with writing tests, but with practice, it will become second hand nature.
</p>

<p>
  In this lesson, let's take a break from testing and work making the app look better.
</p>

<h3>Instructions</h3>

<ul>
  <li>Add links to the top navigation bar</li>
  <ul>
    <li>Add New Post</li>
    <li>All Posts</li>
  </ul>
  <li>In the index page, add links to the <code>show</code> page, the edit link, and the delete link for each post</li>
  <li>In the show page, add links to the edit link and delete link</li>
  <li>Optional: Play around with the CSS and make it look nice :)</li>
</ul>




<%= standard_git_workflow %>