

<p>
  You've done this many times now, so this should be a breeze! Refer to <%= link_to 'this lesson', '/twitr_lessons/6' %> for help.
</p>

<h2>Instructions</h2>
<ul>
  <li>Add the bootstrap navbar</li>
  <li>Change the text inside the <code>navbar-brand</code> link to the title of your blog (the title can be anything)</li>
  <li>Delete all links except for the links aligned to the right</li>
</ul>

<%= standard_git_workflow %>