

<p>
  By now, you should be pretty comfortable with HTML/CSS, Ruby, and Ruby on Rails. However, we haven't gone into the topic of <strong>Javascript</strong> yet.
</p>

<p>
  As a web developer, <strong>knowing Javascript is essential.</strong> This is because <strong>Javascript is the only language that can interact with the web browser.</strong>
</p>

<p>
  This is important because if we want to change what we see on the page, such as the background color or the text that is shown on the page, the only way we can really achieve this is through Javascript. If we want to make our webpages interactive, we need to know Javascript.
</p>

<%= create_flashcard %>

<p>
  As I mentioned in the introduction, once you know one programming language, it's easy to learn another. The basic concepts of Javascript is similar to Ruby, so you'll be able to breeze through a lot of the basic content.
</p>

<p>
  The first thing to do is to go through the <%= link_to 'Codecademy Lessons', 'https://www.codecademy.com/learn/javascript' %>. You'll probably know a lot of these concepts, and if you feel confident, just skip the lessons and move on until you find something that you're not confident you know. There will also be new concepts, such as for loops, functions, and objects in Javascript. Make sure you understand these since you'll struggle later on if you skip these concepts.
</p>