.admin-quiz-problem {
  border: 1px solid #ddd;
  background: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  position: relative;
  small {
    top: -20px;
    position: absolute;
    right: 10px;
  }
}

.admin_quiz_options {
  list-style-type: none;
  padding-left: 0px;
  li {
    padding: 20px 0px;
    min-height: 70px;
    border-bottom: 2px solid #eee;
  }
}