#slider {
  padding-right: 50px;
}

.handle {
  position: fixed;
  width: 50px;
  top: 130px;
  right: 0px;
}

.fixed-handle {
  top: 30px;
}


#check_answer {
  visibility: hidden;
  opacity: 1;
  -webkit-transition: visibility 0.5s linear 1s, opacity 800ms;
  -moz-transition: visibility 0.5s linear 1s, opacity 800ms;
  transition: visibility 0.5s linear 1s, opacity 800ms;
}