.timely_icon {
  height:50px;
  width:50px;
  margin:10px;
}

.progress-panel {
  height: 280px;
  background-color: #ffffff;
  border-radius: 2px;
  border:2px solid #E8E2E2;
  padding: 20px;
}

.in-progress-text {
  padding: 10px;
}

.progress-lesson-info {
  border:2px solid #E8E2E2;
  padding: 10px;
  border-radius: 20px;
}

.progress {
  margin-top: 20px;
}

.activities-log {
  height: 365px;
  background-color: #ffffff;
  border-radius: 2px;
  border:2px solid #E8E2E2;
  margin-top: 25px;
  margin-bottom: 25px;
}

.title-activity-log {
  padding: 5px;
}

.body-activity-log {
  border-top: 2px solid #E8E2E2;
  padding: 5%;
}

@mixin profile-pic-dashboard {
  height:30px;
  width:30px;
  border-radius: 100%;
  margin-left:10px;
  margin-top: 5px;
  border: 2px solid #eee;
}

.profile-pic-activity-log {
  @include profile-pic-dashboard;
}

.message-title-activity-log, .message-body-activity-log {
  font-size: 0.75em;
  margin:0px;
}

.message-time-activity-log {
  color: #E84A5F;
  font-size: 0.5em;
}

.community-panel {
  height: 430px;
  background-color: #ffffff;
  border-radius: 2px;
  border:2px solid #E8E2E2;
}

.community {
  padding-top: 10px;
}

.profile-pic-community-pannel {
  @include profile-pic-dashboard;
}


.title-community-question {
  margin: 0px;
  color: #E84A5F;
}

.time-community-question, .tags-community-question {
  font-size: 0.65em;
}

.tags-community-question a:hover {
  text-decoration:none;
}

.tags-community-question span {
  border:2px solid #E8E2E2; 
  padding:3px;
  border-radius: 4px;
  color: #444444;
  margin-left:5px;
}

.user-interaction-info {
  margin-left: -20px;
}

.user-interaction-info p {
  margin: 0px;
}

.user-interaction-info p:nth-child(2) {
  font-size: 0.75em;
}

.my-question-pannel {
  height: 215px;
  background-color: #ffffff;
  border-radius: 2px;
  border:2px solid #E8E2E2;
  margin-top: 25px;
}

.title-question-panel, .title-submissions-panel, .title-community-panel{
  padding: 0px;
  border-bottom: 2px solid #E8E2E2;
} 

.my-submissions-pannel {
  height: 215px;
  background-color: #ffffff;
  border-radius: 2px;
  border:2px solid #E8E2E2;
  margin-top: 25px;
}


.submissions-data, .question-data {
  font-size: 0.85em;
  padding: 0 10px;
  margin-top:10px;
}

.right-pannel {
  margin-bottom: 25px;
}
