.details-page {
  background: white;
  font-family: 'Lato', sans-serif;
  h1 {
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: 46px;
  }
}

.phase-container {
  border-left: 8px solid #f5f5f5;
  h1 {
    margin-bottom: 80px;
  }

  h4 {
    font-size: 35px;
    font-weight: 300;
  }
  .phase {
    margin-bottom: 50px;
    img {
      margin-top: 30px;
    }
  }
}

.program-highlights {
  padding: 50px 0px;
  .highlight-checkbox {
    background-image: url(details/success.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 60px;
    display: block;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 25px;
  }
  img {
    height: 300px;
    width: 300px;
    margin: 35px auto;
    display: block;
  }
  .program-highlights-description {
    font-weight: 500;
    color: #777;
    margin: 30px 0px;
  }
}

.phase-name {
  font-weight: 300;
}

@mixin detail-panel {
  background: whitesmoke;
  padding: 50px 0px;
  h1 {
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: 46px;
    margin-bottom: 50px;
  }
  h3 {
    font-weight: 300;
    font-size: 35px;
  }
  img {
    height: 128px;
    width: 128px;
    margin: 35px auto;
    display: block;
  }
}

.immersive-overview {
  @include detail-panel;
}

.learning-at-techrise {
  @include detail-panel;
}

.checkmark {
  height: 30px !important;
  display: inline !important;
  margin-right: 10px !important;
  width: 30px !important;
}