.event-meta {
  color: #ec6952;
  border-top: 1px solid whitesmoke;
}

.event_wrapper {
  margin: 120px 0px;
}

.event-intro {
  h1 {
    color: #ec6952;
    font-weight: bold;
  }
}

.event-info {
  list-style-type: none;
  padding-left: 0px;
  li {
    padding-bottom: 20px;
  }
}

.event-overview {
  padding: 15px 50px;
}