a.anchor {
  display: block;
  position: relative;
  top: -170px;
  visibility: hidden;
}

.content {
	padding: 150px 0px 100px 0px;
	p {
		font-size: 16px;
    color: black;
    margin-top: 2em;
    margin-bottom: 2em;
	}
}

.course_box {
	height: 300px;
}

.screenshot_min {
  height: 100px;
  overflow: hidden;
}

.course_button {
	position: absolute;
  bottom: 20px;
  right: 10px;
}

.embed_video {
	margin: 50px 0px;
}

.forum_section {
	margin: 50px 0px;
}

.underlined-header {
	border-bottom: 1px solid #e74c3c;
}

.skill_logo {
	height: 100px;
}

.screenshot {
	width: 100%;
}

.unindented_ul {
	padding: 0;
	list-style-type:none;
}

.hidden_answer {
	display: none;
}

.quiz_box {
	height: 250px;
}

.lesson_nav_box {
	width: 500px;
	margin: 0 auto;
}

.pricing_box {
  height: 200px;
  font-size: 20px;
  margin: 0 auto;
  width: 350px;
  text-align: left;
}

.clear {
	clear:both;
}

@media screen and (max-width: 720px) {
	.lesson_nav_box {
		width: 300px;
	}
}