.nav-badge {
  margin-top: -3px;
  margin-left: 5px;
}

.badge {
  background-color: #d9534f;
}

#cke_1_floatingtools {
  display: none;
}

#slider {
  padding: 20px;
  box-shadow: 5px 0 15px -6px #585858 inset;
}


.lesson_content {
  background-color: white;
}

.item .content p {
  margin: 0 0 10px;
}

span.radio.inline {
  display: inline;
}

.devise_box {
  padding: 50px;
  border-radius: 3px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

#wrap {
  margin-bottom: 200px;
}

p {
  font-weight: 300;
  font-size: 18px !important;
}

// label {
//   font-weight: 300 !important;
//   letter-spacing: 3px;
// }

section {
  margin: 60px 0px;
}

a.anchor {
  display: block;
  position: relative;
  top: -170px;
  visibility: hidden;
}

footer {
  text-align: center;
}

.hljs {
  padding: 0px 20px 20px !important;
}

pre {
  white-space: pre-wrap;
}

.content {
	padding: 100px 0px 150px 0px;
	p {
		font-size: 18px;
    color: black;
    margin-top: 2em;
    margin-bottom: 2em;
	}
}

.course_box {
	height: 300px;
  border: 1px solid whitesmoke;
}

.screenshot_min {
  height: 100px;
  overflow: hidden;
}

.course_button {
	position: absolute;
  bottom: 20px;
  right: 10px;
}

.embed_video {
	margin: 50px 0px;
}

.forum_section {
	margin: 50px 0px;
}

.underlined-header {
	border-bottom: 4px solid #e74c3c;
}

.skill_logo {
	height: 50px;
}

.screenshot {
	width: 100%;
  border: 1px solid whitesmoke; 
  border-radius: 3px; 
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}

.unindented_ul {
	padding: 0;
	list-style-type:none;
}

.hidden_answer {
	display: none;
}

.quiz_box {
	height: 250px;
}

.lesson_nav_box {
	width: 500px;
	margin: 0 auto;
}

.pricing_box {
  height: 200px;
  font-size: 20px;
  margin: 0 auto;
  text-align: left;
  font-weight: 100;
  margin-bottom: 20px;
}

.row {
  margin-right:0px;
  margin-left:0px;
}

.clear {
	clear:both;
}

@media screen and (max-width: 720px) {
	.lesson_nav_box {
		width: 300px;
	}
  .pricing_box {
    height: 100%;
  }
}