.mentee-panel {
  padding: 20px;
  border: 2px solid #ddd;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  margin-top: 20px;
}

.mentee_list {
  margin-top: 30px;
  padding-left: 0px;
  list-style-type: none;
  li {
    border: 1px solid #f7f7f7;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    background: #fff;
  }
}

.mentee_title {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.back_to_dashboard {
  position: absolute;
  top: 0;
  left: 0;
}