@mixin color_hover {
  transition: color 700ms ease;
  -webkit-transition: color 700ms ease;
  -moz-transition: color 700ms ease;
  -o-transition: color 700ms ease;
}

@mixin slide_transition($property) {
  transition: $property 700ms ease;
  -webkit-transition: $property 700ms ease;
  -moz-transition: $property 700ms ease;
  -o-transition: $property 700ms ease;
}
