.left-submenu {
  li {
    font-size: 14px;
  }
}

.header.scrolled_nav {
  height: 80px;
  top: 0;
  background: white;
}
.header.scrolled_nav .main-nav .nav .nav-item a {
  color: #666666;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.header.scrolled_nav .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
  background: #ec6952;
  border-color: #ec6952;
}
.header.scrolled_nav .main-nav .nav .dropdown-menu a {
  color: #fff;
}

.pre-scrollable{
  max-height: 100vh !important;
}

.fixed-sidebar {
  position: fixed !important;
  top: 10px;
}

@media (min-width: 767px) {
  .affix,.affix-top {
      position:fixed;
  }
}

.nav-stacked > li.active > a,
.nav-stacked > li.active > a:hover,
.nav-stacked > li.active > a:focus {
  background-color: rgb(41, 40, 41);
  font-weight: 600;
  color: white;
}

.nav-stacked {
  .fa-home {
    font-size: 36px;
    vertical-align: middle;
  }
  .nav-text {
    line-height: 50px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
  }
}

.nav-pills > li > a {
  color: #5c5c5c;
  font-weight: 600;
  font-size: 16px;
}


.sidebar {
  padding-right: 0;
  position: relative;
  white-space: normal;
  overflow: auto;
}

.sidebar-right {
  width: 90px;
  display: inline-block;
}

.sidebar-active {
  background: #161616;
  color: #d9614c !important;
}

.sidebar-left {
  width: 300px;
}

.sidebar_container_right {
  right: -360px;
  width: 450px;
  border-left: 2px solid #323232;
  transition: all 700ms ease;
  li {
    color: white;
    padding: 20px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    cursor: pointer;

    .fa {
      font-size: 30px;
      margin-bottom: 5px;
    }
  }
}

.sidebar_container_left {
  left: 0px;
  border-right: 2px solid #323232;
}

.sidebar_container {
  position: fixed;
  background: rgb(32, 32, 32);
  height: 100%;
  overflow: scroll;
  border-top: 2px solid #323232;
}

.nav-stacked > li > a:hover, .nav-stacked > li > a:focus {
  text-decoration: none;
  background-color: inherit;
}

.sidebar .nav {
  max-width: 95% !important;
}
.sidebar li {
  border-bottom-width:1px;
  border-bottom: 2px solid #161616;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  .sidebar {
    padding-top:0;
  }
}

.flashcard-nav > li.active > a, .flashcard-nav > li.active > a:hover, .flashcard-nav > li.active > a:focus {
  background-color: #ec6952;
  border-radius: 2px;
}

.flashcard-nav {
  li {
    background-color: #fff;
    border-radius: 2px;
  }

  li > a:hover, li > a:focus {
    background-color: #ec6952;
    color: #fff;
    border-radius: 2px;
  }
}

.course-title {
  text-align: center;
  a {
    color: white !important;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
  }
}

.lesson-nav {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.chapter-nav:after {
    /* symbol for "opening" panels */
    font-family: FontAwesome;    
    content: "\f105"; 
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.chapter-nav[aria-expanded="true"] {
  color: white;
}

.chapter-nav[aria-expanded="true"]:after {    
    font-family: FontAwesome;
    content: "\f107";     /* adjust as needed, taken from bootstrap.css */
    color: white;
}
