// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.why_section {
  background:url("/assets/startup2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.why_section_wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 60px;
}

.section_header {
  color: #EC6952;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 40px;
}

.for_who_class {
  background:url("/assets/startup.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.for_who_class_wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 60px;
}

.join-buttons {
	margin-top: 20px;
}

.for_who_header {
  color: #EC6952;
  font-weight: 300;
  font-size: 40px;
  p {
    text-align: justify !important;
  }
}

.why_techrise_icons {
  font-size: 90px;
}

.prof_pic {
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  width: 200px;
  display: block;
}

