// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.join-buttons {
	margin-top: 20px;
}

.for_who_header {
	color: yellow;
  font-size: 35px;
  p {
    text-align: justify !important;
  }
}

.why_techrise_icons {
  font-size: 90px;
}

.prof_pic {
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  width: 200px;
  display: block;
}

