<ul id="sidebar" class="nav nav-stacked pre-scrollable affix" data-offset-bottom="578">
      <%= link_to '< All Courses', courses_path %>
      <h3><%= @course_title %></h3>
      <% @lessons.each do |chapter| %>

        <li><h5><%= chapter[0] %></h5></li>

        <% chapter[1].each do |lesson| %>
          <li><%= link_to "#{lesson[0]}. #{lesson[1]}", "/#{@lesson_link}/#{(lesson[0])}" %></li>
        <% end %>

      <% end %>
</ul>