<%= link_to '< Back to Courses', courses_path %>

<h1><%= @course_title %></h1>

<div class = "row">

  <% @lessons.each do |chapter| %>
    
    <div class = "col-xs-12 col-md-4 course_box">

      <h3 class = "underlined-header"><%= chapter[0] %></h3>
      <ul class = "unindented_ul">

      <% chapter[1].each do |lesson| %>
        <li><%= link_to "Lesson #{lesson[0]} - #{lesson[1]} #{lesson_completed(lesson[0])}".html_safe, "#{@lesson_link}/#{(lesson[0])}" %></li>
      <% end %>
    </div>
    
  <% end %>


</div>