<div class="col-xs-12 col-md-8 col-md-offset-2">
  <% if @cards.empty? %>
    <h3 class="text-center">Congratulations! You have no cards left today!</h3>
    <h3 class="text-center"><%= link_to '>> Go to lessons', courses_path %></h3>
  <% else %>
    <h1 class="text-center">TECHRISE Training Module</h1>
    <%= render partial: 'cards/card', locals: { card: @cards.first } %>
  <% end %>
</div>