<div class="hint-prompt">
  <h5>Think you have the solution?</h5>
  <button class="btn" id="btn-gotcha" data-gotcha-id="1"><i class="fa fa-check" aria-hidden="true"></i> I've solved it myself</button>
  <button class="btn" id="btn-hint" data-hint-id="1"><i class="fa fa-question" aria-hidden="true"></i> Give me a hint!</button>
  <button class="btn" id="btn-all-hints" data-hint-id="1"><i class="fa fa-question" aria-hidden="true"></i> Show all</button>
</div>