<footer class="lesson-footer">
  <div class="bottom-bar">
        <div class="container">
            <small class="copyright">Copyright @ 2016 TECHRISE</small>
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->
