<!DOCTYPE html>
<html>
<head>

  <%= render '/layouts/meta' %>

</head>

<body class="home-page details-page"> 

<%= render '/layouts/nav_lessons' %>

<%= yield %>      
   
<%= render '/layouts/footer' %>

</body>
</html>
