<!DOCTYPE html>
<html>
<head>

  <%= render '/layouts/meta' %>

</head>

<body class="home-page"> 

<%= render '/layouts/nav' %>

<%= yield %>

<%= render '/layouts/footer' %>

<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.0.9/scrollreveal.min.js"></script>

<script>
window.sr = ScrollReveal({ reset: true, duration: 1000 });
sr.reveal('.join-buttons');
sr.reveal('.skills_header');
sr.reveal('.portfolio_items');
sr.reveal('.text-center');
sr.reveal('.scroll');
</script>

</body>
</html>
