<h1><%= title_for(SkillAcademyLesson, 1, 3) %></h1> 

<p>
  Next, let's set up Git/Github and Heroku.
</p>

<h2>Tasks to Complete</h2>

<ul>
  <li>Create new Github repository</li>
  <li>Push new Rails application to Github repository</li>
  <li>Push application live to heroku</li>
</ul>