<h1><%= title_for(SkillAcademyLesson, 5, 2) %></h1>

<p>
  Now that we've built functionality to create new courses, let's display them on to the page.
</p>

<%= render layout: 'shared/story', locals: {story_title: "As an instructor, I want to be able to see all of my courses"} do %>
  <p>
    As an instructor, I should be able to view all of the courses that I have created on one page. The following information should be displayed for each course:
  </p>
  <ul>
    <li>Course title</li>
    <li>Course photo</li>
    <li>Course description</li>
    <li>Instructor name</li>    
  </ul>
<% end %>

<div class="hint" data-hint-id="1">
  <p>
    Let's think about where we would display all of our courses.
  </p>
</div>

<div class="hint" data-hint-id="2">
  <p>
    The most appropriate place to display <strong>all</strong> of our courses would be in the <code>index</code> page. It would also make sense to write the <code>index</code> action inside of our <code>courses_controller.rb</code> namespaced under <code>instructor</code> (<code>instructor/courses_controller.rb</code>.
  </p>

  <p>
    Before we write any code to build the feature, let's first write tests. Let's develop this TDD-style!
  </p>
</div>

<div class="hint" data-hint-id="3">
  <p>
    The most appropriate place to display <strong>all</strong> of our courses would be in the <code>index</code> page. It would also make sense to write the <code>index</code> action inside of our <code>courses_controller.rb</code> namespaced under <code>instructor</code> (<code>instructor/courses_controller.rb</code>.
  </p>

  <p>
    Before we write any code to build the feature, let's first write tests.
  </p>
</div>


















