<h1><%= title_for(SkillAcademyLesson, 4, 2) %></h1> 

<p>
  Let's work on our first user story.
</p>

<div class="story">
  <h2>As a user, I should be able to log in/log out</h2>
  <ul>
    <li></li>
  </ul> 
</div>

<p>
  How can we build this feature?
</p>

<div class="hint" data-hint-id="1">

</div>
