 

<p>
  For this application, instead of spending time trying to build out a stellar front-end ourselves, let's use a template and modify it to create a great looking website.
</p>

<p>
  Since we already know how Bootstrap works, the easiest option would be to use a template that uses Bootstrap.
</p>

<div class="task-box">
  <h2>Tasks</h2>
  <ul>
    <li>Find a Bootstrap template to use for this application</li>
    <li>Download the template in your local machine</li>
  </ul>
</div>