 

<p>
  As always, let's start off by creating a new Rails application. You know how to do this by now! :)
</p>

<div class="task-box">
  <h2>Tasks</h2>

  <ul>
    <li>Create new Rails application with Postgresql database</li>
  </ul>
</div>