

<p> 
  You now know how Ruby on Rails works at a basic level, and you know how to make basic applications. Now it's time to step it up a notch. Get ready to go one level higher as a developer.
</p>

<p>
  In this final course, you will be working on a much larger and complex application than Ideator or Instapost. This application will require more knowledge about Ruby on Rails and how to write clean and efficient code.
</p>

<p>
  Throughout these lessons, instead of telling you what to do step by step, we will instead give you <strong>user stories</strong>. As we mentioned in the team collaboration lessons, many software development teams use user stories to manage their projects.
</p>

<p>
  These lessons are designed to train you to think of solutions by yourself. <strong>We encourage you to review past lessons for hints also to Google solutions as well.</strong>
</p>

<p>
  When you get stuck on a bug or a feature, it's really easy to become extremely frustrated. You'll work on a problem for 5 ~ 8 hours straight and still not find the answer, you might enter a wrong command that completely messes everything up, etc. <strong>This is the life of a developer.</strong>
</p>

<p>
  It's really important that you get used to this - once you overcome some of these obstacles, you will become much faster at debugging bugs. Debugging bugs are a skill in itself. That's why experienced developers can debug far quicker than beginners.
</p>  

<p>
  With that, get ready to embark on a new journey. This final lesson will train you to become a developer that can think on their own and find clean solutions to the features or problems.
</p>

<h1>
  Let's get started with your final project, Skill Academy.
</h1>

















