<h1><%= title_for(SkillAcademyLesson, 1, 2) %></h1> 

<p>
  As always, let's start off by creating a new Rails application. You know how to do this by now! :)
</p>

<h2>Tasks to Complete</h2>

<ul>
  <li>Create new Rails application with Postgresql database</li>
</ul>