<h1><%= title_for(SkillAcademyLesson, 2, 2) %></h1> 

<div class="task-box">
  <h2>Tasks</h2>
  <ul>
    <li>Install the <code>simple_form</code> gem and integrate it with bootstrap</li>  
  </ul>
</div>

<div class="hint" data-hint-id="1">
  <p>
    Running the following command will integrate simple_form with bootstrap:
  </p>

<pre><code class="bash">
rails generate simple_form:install --bootstrap
</code></pre>

</div>
