<h1><%= title_for(SkillAcademyLesson, 4, 1) %></h1> 

<p>
  Let's work on our first user story.
</p>

<%= render layout: 'shared/story', locals: {story_title: "As a user, I should be able to log in/log out"} do %>
  <ul>
    <li>There should be a navigation bar item to sign in/sign out</li>
  </ul> 
<% end %>

<p>
  How can we start building this feature?
</p>
  
<div class="gotcha" data-hint-id="1" data-gotcha-id="1">
  <p>
    When building out features, <strong>it is important to focus on building the core functionality of the feature first, then working on the surrounding features later.</strong>
  </p>

  <p>
    In other words, <strong>don't try to build out every single aspect of the feature - just focus on building the most important elements of the feature.</strong>
  </p>

  <p>
    In this case, the most important thing is that users can sign in and sign out, and they have a link to do so in the navigation bar. We don't need to add any text or marketing material yet - we can do that later on in the development process.
  </p>
</div>

<div class="hint" data-hint-id="1">
  <p>
    We can start building this feature extremely quickly by using the <code>devise</code> gem.
  </p>
</div>













